# Builtins Module: The Mutable Byte String Class (bytearray)

The previous notebook examined the immutable byte string (bytes). Immutable means that once an instance is instantiated, it cannot be modified. The ```bytes``` class has a mutable counterpart, the ```bytearray```. The ```bytearray``` can be conceptualised as the spreadsheet on the left where each field can be entered and mutated to a new value or deleted. The ```byte``` on the other hand can be conceptualised as the pdf on the right, where the data can be read but not modified.

<img src='./images/img_001.png' alt='img_001' width='450'/>

## Categorize_Identifiers Module

This notebook will use the following functions ```dir2```, ```variables``` and ```view``` in the custom module ```categorize_identifiers``` which is found in the same directory as this notebook file. ```dir2``` is a variant of ```dir``` that groups identifiers into a ```dict``` under categories and ```variables``` is an IPython based a variable inspector. ```view``` is used to view a ```Collection``` in more detail:

In [1]:
from categorize_identifiers import dir2, variables, view

## Initialisation Signature

The docstring of the initialisation signature can be examined:

In [2]:
bytearray?

Init signature: bytearray(self, /, *args, **kwargs)
Docstring:
bytearray(iterable_of_ints) -> bytearray
bytearray(string, encoding[, errors]) -> bytearray
bytearray(bytes_or_buffer) -> mutable copy of bytes_or_buffer
bytearray(int) -> bytes array of size given by the parameter initialized with null bytes
bytearray() -> empty bytes array

Construct a mutable bytearray object from:
  - an iterable yielding integers in range(256)
  - a text string encoded using the specified encoding
  - a bytes or a buffer object
  - any object implementing the buffer API.
  - an integer
Type:           type
Subclasses:

Notice that it is similar to that of the ```bytes``` class. Construction from a ```tuple``` iterable of ```int``` values between ```0:256``` gives:

In [3]:
bytearray((20, 104, 101, 108, 108, 111, 129))

bytearray(b'\x14hello\x81')

Notice that the formal representation shown in the cell output casts a ```bytes``` instance to a ```bytearray```.

## identifiers

The identifiers for the ```bytearray``` class can be examined. Notice it has consistent datamodel methods to is immutable counterpart the ```bytes``` class:

In [4]:
dir2(bytearray, bytes, consistent_only=True)

{'method': ['capitalize',
            'center',
            'count',
            'decode',
            'endswith',
            'expandtabs',
            'find',
            'fromhex',
            'hex',
            'index',
            'isalnum',
            'isalpha',
            'isascii',
            'isdigit',
            'islower',
            'isspace',
            'istitle',
            'isupper',
            'join',
            'ljust',
            'lower',
            'lstrip',
            'maketrans',
            'partition',
            'removeprefix',
            'removesuffix',
            'replace',
            'rfind',
            'rindex',
            'rjust',
            'rpartition',
            'rsplit',
            'rstrip',
            'split',
            'splitlines',
            'startswith',
            'strip',
            'swapcase',
            'title',
            'translate',
            'upper',
            'zfill'],
 'datamodel_attribute': ['__doc__', '__hash__'],
 'datamodel_method': ['__add__',
                      '__buffer__',
                      '__class__',
                      '__contains__',
                      '__delattr__',
                      '__dir__',
                      '__eq__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getitem__',
                      '__getstate__',
                      '__gt__',
                      '__init__',
                      '__init_subclass__',
                      '__iter__',
                      '__le__',
                      '__len__',
                      '__lt__',
                      '__mod__',
                      '__mul__',
                      '__ne__',
                      '__new__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__rmod__',
                      '__rmul__',
                      '__setattr__',
                      '__sizeof__',
                      '__str__',
                      '__subclasshook__']}

Each of these identifiers behave consistently between the two classes. All the methods listed above are immutable and therefore have a ```return``` value. The counterpart to the methods in the ```bytes``` class which ```return``` a ```bytes``` instance, will instead return a ```bytesarray``` instance instead. The methods which ```return``` a single byte which is an ```int``` between ```0:256``` are consistent. Because the ```bytearray``` is mutable, a ```bytearray``` instance can be changed and therefore cannot be hashed. Therefore:

In [5]:
bytearray.__hash__ == None

True

In [6]:
bytes.__hash__ == None

False

The ```bytearray``` has the supplementary mutable methods. Most of these with the exception to pop have no ```return``` value and instead directly alter the instance data inplace. The exception is ```pop``` which pops of a value altering the instance data and returns the popped value:

In [7]:
dir2(bytearray, bytes, unique_only=True)

{'method': ['append',
            'clear',
            'copy',
            'extend',
            'insert',
            'pop',
            'remove',
            'reverse'],
 'datamodel_method': ['__alloc__',
                      '__delitem__',
                      '__iadd__',
                      '__imul__',
                      '__release_buffer__',
                      '__setitem__']}

To recap the ```bytes``` class is consistent to the design pattern of the ```str``` class. This design pattern uses the following abstract base classes:

* object
* Container
* Hashable
* Collection
  * Sized
  * Iterable
* Sequence

The ```bytearray``` class is a ```MutableSequence``` which follows most of the abstract classes in the design pattern seen above but lacks the abstract class ```Hashable``` because it can be mutated. In addition it has the additional abstract class ```MutableSequence```:

* object
* Container
* ~~Hashable~~
* Collection
  * Sized
  * Iterable
* Sequence
* Mutable Sequence

## Hashable

Because the ```bytes``` instance is immutable, it has a value that cannot be changed and a corresponding hash value. The ```bytesarray``` is mutable and has no hash value:

In [8]:
hash(b'\x14hello\x81')

6702547215976943676

Attempting to do the same with the ```bytearray``` will result in a ```TypeError``` because a ```bytearray``` is not hashable:

```python
hash(bytearray(b'\x14hello\x81'))
```

A consequence of a ```bytearray``` instance being unhashable is a ```byte``` instance can be used as a key in a ```dict``` instance and a ```bytearray``` instance cannot:

In [9]:
mapping = {b'r': 'red',
           b'g': 'green',
           b'b': 'blue'}

In [10]:
mapping[b'r']

'red'

Conceptualise the ```dict``` instance as a grouping of unique lockers where each locker contains a reference to value. Each unique locker has a lock and a unique ```key``` is designed to fit in the lock. Distorting the ```key``` will prevent the key from working and therefore a mutable datatype cannot be used as a ```key```. Attempting to do so will flag a ```TypeError```:

```python
mapping = {bytearray(b'r'): 'red',
           bytearray(b'g'): 'green',
           bytearray(b'b'): 'blue'}
```

## Memory Allocation

If the following immutable ```byte``` and mutatable ```bytearray``` instances are created:

In [11]:
greeting_b = b'hello'
greeting_ba = bytearray(b'hello')

In [12]:
variables(['greeting_b', 'greeting_ba'], show_id=True)

                    Type Size/Shape                Value             ID
Instance Name
greeting_b         bytes          5             b'hello'  2843969396080
greeting_ba    bytearray          5  bytearray(b'hello')  2843969489200

Because these are immutable and mutable counterparts, the values at each index looks the same:

In [13]:
view(greeting_b)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 104
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 108
4 	 int                  	 1      	 111

In [14]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 104
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 108
4 	 int                  	 1      	 111

If the memory occupied by the two instances is examined:

In [15]:
import sys

In [16]:
sys.getsizeof(greeting_b)

38

In [17]:
sys.getsizeof(greeting_ba)

62

Notice that the memory allocation in bytes is larger for the mutable counterpart as the instance has additional methods and the mutability requires additional memory overhead. If the length of the mutable ```bytearray``` instance is examined, it has a length of 5 bytes:

In [18]:
len(greeting_ba)

5

However it has a memory allocation of 6 bytes:

In [19]:
greeting_ba.__alloc__()

6

Having a spare unallocated byte under the hood optimises some of the ```bytearray``` instances mutable methods such as ```append```.

## Indexing

Both the ```byte``` and ```bytearray``` have the immutable datamodel method ```__getitem__``` implemented which means a byte can be retrieved using square brackets:

In [20]:
variables(['greeting_b', 'greeting_ba'], show_id=True)

                    Type Size/Shape                Value             ID
Instance Name
greeting_b         bytes          5             b'hello'  2843969396080
greeting_ba    bytearray          5  bytearray(b'hello')  2843969489200

In [21]:
ord('h')

104

In [22]:
greeting_b[0]

104

In [23]:
greeting_ba[0]

104

However only the mutable counterpart has the ```__setitem__``` implemented. This means a value at an index can be reassigned:

In [24]:
ord('H')

72

In [25]:
greeting_ba[0] = 72

Notice that this mutates the ```bytearray``` instance inplace:

In [26]:
variables(['greeting_b', 'greeting_ba'], show_id=True)

                    Type Size/Shape                Value             ID
Instance Name
greeting_b         bytes          5             b'hello'  2843969396080
greeting_ba    bytearray          5  bytearray(b'Hello')  2843969489200

In [27]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 72
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 108
4 	 int                  	 1      	 111

Notice that the ID is the same because it is the same instance but the value of the first letter is updated from the ASCII letter ```h``` to ```H'```. the mutable counterpart also has ```__delitem__``` defined meaning the ```del``` keyword on the referenced byte:

In [28]:
del greeting_ba[2]

In [29]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 72
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 111

Notice the length is now ```4``` bytes and the reference to the value ```108``` that was at index ```2``` has been removed. The reference to the value ```108```that was at index ```3``` is now at index ```2``` and so on...

A slice can also be accessed:

In [30]:
greeting_ba[0:2]

bytearray(b'He')

And reassigned to a new ```bytearray``` instance:

In [31]:
greeting_ba[0:2] = bytearray(b'ki')

Once again, the ```bytearray``` is mutated:

In [32]:
variables(['greeting_b', 'greeting_ba'], show_id=True)

                    Type Size/Shape               Value             ID
Instance Name
greeting_b         bytes          5            b'hello'  2843969396080
greeting_ba    bytearray          4  bytearray(b'kilo')  2843969489200

## Inplace Operators

There is a subtle difference between the "inplace" operators ```+=``` and ```*=``` in the mutable and immutable instances. Returning to:

In [33]:
greeting_b = b'hello'
greeting_ba = bytearray(b'hello')

In [34]:
variables(['greeting_b', 'greeting_ba'], show_id=True)

                    Type Size/Shape                Value             ID
Instance Name
greeting_b         bytes          5             b'hello'  2843969621184
greeting_ba    bytearray          5  bytearray(b'hello')  2843970182768

Notice when the "inplace" operation is used with the immutable instance:

In [35]:
greeting_b += b' world!'

That the instance ID has been updated. This is because two operations have been carried out, concatenation with a return value and then assignment of this return value to the instance name ```greeting_b```. In other words the instance name is unpeeled from the old instance and placed on the new instance:

In [36]:
variables(['greeting_b', 'greeting_ba'], show_id=True)

                    Type Size/Shape                Value             ID
Instance Name
greeting_b         bytes         12      b'hello world!'  2843969600512
greeting_ba    bytearray          5  bytearray(b'hello')  2843970182768

In comparison:

In [37]:
greeting_ba += bytearray(b' world!')

Notice that the instance ID has not changed as a single inplace operation has been performed:

In [38]:
variables(['greeting_b', 'greeting_ba'], show_id=True)

                    Type Size/Shape                       Value             ID
Instance Name
greeting_b         bytes         12             b'hello world!'  2843969600512
greeting_ba    bytearray         12  bytearray(b'hello world!')  2843970182768

Mutable methods are generally more efficient as there is no additional memory overhead required to create a new instance. There are however some side effects to watch out for such as unintended mutability may result in debugging challenges in large code bases.

## Mutable Methods

The mutable counterpart has the following mutable methods:

In [39]:
dir2(bytearray, bytes, unique_only=True, print_output=False)['method']

['append', 'clear', 'copy', 'extend', 'insert', 'pop', 'remove', 'reverse']

The mutable methods below all mutate the ```bytearray``` instance directly and have no ```return``` value:

* append
* extend
* insert
* remove
* reverse
* pop
* clear 

The immutable method ```copy``` is usually a companion for mutable methods and returns a copy without modifying the original instance:

* copy

```pop``` mutates the original instance and returns the value popped:

* pop

If the following ```bytearray``` instance is instantiated:

In [40]:
greeting_ba = bytearray(b'hello')

In [41]:
variables(['greeting_ba'], show_id=True)

                    Type Size/Shape                Value             ID
Instance Name
greeting_ba    bytearray          5  bytearray(b'hello')  2843970217072

The mutable ```bytearray``` method ```append```, appends a single byte (to the back) of the ```bytearray``` instance:

In [42]:
greeting_ba.append?

Signature: greeting_ba.append(item, /)
Docstring:
Append a single item to the end of the bytearray.

item
  The item to be appended.
Type:      builtin_function_or_method

The ```byte``` being appended is normally supplied in the form of an ordinal ```int``` instance. Recall each character has an ordinal ```int``` which can be seen using the ```ord``` function:

In [43]:
ord('!')

33

In [44]:
return_val = greeting_ba.append(33)

Notice that the instance is mutated inplace and the ```return``` value is therefore ```None```:

In [45]:
variables(['greeting_ba', 'return_val'], show_id=True)

                    Type Size/Shape                 Value               ID
Instance Name
greeting_ba    bytearray          6  bytearray(b'hello!')    2843970217072
return_val      NoneType                             None  140734341961616

A common mistake new programmers make when first encountering a mutable method is to use it, in combination with reassignment:

In [46]:
greeting_ba = greeting_ba.append(33)

Because the ```return``` value of a mutable method is ```None```, the instance name get reassigned to ```None```:

In [47]:
variables(['greeting_ba'], show_id=True)

                   Type Size/Shape Value               ID
Instance Name
greeting_ba    NoneType             None  140734341961616

Returning to:

In [48]:
greeting_ba = bytearray(b'hello')

In [49]:
variables(['greeting_ba'], show_id=True)

                    Type Size/Shape                Value             ID
Instance Name
greeting_ba    bytearray          5  bytearray(b'hello')  2843970289328

The mutable ```bytearray``` method ```extend```, extends the end of the ```bytearray``` instance using another ```bytearray``` which usually spans over multiple bytes:

In [50]:
greeting_ba.extend?

Signature: greeting_ba.extend(iterable_of_ints, /)
Docstring:
Append all the items from the iterator or sequence to the end of the bytearray.

iterable_of_ints
  The iterable of items to append.
Type:      builtin_function_or_method

In [51]:
greeting_ba.extend(bytearray(b' world!')) # No return value

In [52]:
variables(['greeting_ba'], show_id=True)

                    Type Size/Shape                       Value             ID
Instance Name
greeting_ba    bytearray         12  bytearray(b'hello world!')  2843970289328

In [53]:
greeting_ba # Original instance mutated

bytearray(b'hello world!')

The mutable method ```extend``` and inplace addition ```+=``` are very similar however ```+=``` is stricter and required both instances being concatenated to be ```bytearray``` instances. ```extend``` on the other hand can also accept ```bytes``` instances:

In [54]:
greeting_ba + bytearray(b'Bye World!') # immutable return value

bytearray(b'hello world!Bye World!')

Note the original instance is unchanged with the mutable method:

In [55]:
variables(['greeting_ba'], show_id=True)

                    Type Size/Shape                       Value             ID
Instance Name
greeting_ba    bytearray         12  bytearray(b'hello world!')  2843970289328

In [56]:
greeting_ba += bytearray(b'Bye World!') # mutated inplace, no return value

In [57]:
variables(['greeting_ba'], show_id=True)

,Type,Size/Shape,Value,ID
Instance Name,,,,
greeting_ba,bytearray,22,bytearray(b'hello world!Bye World!'),2843970289328

In [58]:
greeting_ba.extend(b'???') # mutated inplace, no return value

In [59]:
variables(['greeting_ba'], show_id=True)

,Type,Size/Shape,Value,ID
Instance Name,,,,
greeting_ba,bytearray,25,bytearray(b'hello world!Bye World!???'),2843970289328

The mutable ```bytearray``` method ```insert```, can be used to insert a byte into the ```bytearray``` at a given index:

In [60]:
greeting_ba.insert?

Signature: greeting_ba.insert(index, item, /)
Docstring:
Insert a single item into the bytearray before the given index.

index
  The index where the value is to be inserted.
item
  The item to be inserted.
Type:      builtin_function_or_method

In [61]:
greeting_ba = bytearray(b'hello')

In [62]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 104
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 108
4 	 int                  	 1      	 111

The ASCII character:

In [63]:
ord('L')

76

Can be inserted at index ```3```:

In [64]:
greeting_ba.insert(3, 76) # mutated inplace, no return value

In [65]:
variables(['greeting_ba'], show_id=True)

                    Type Size/Shape                 Value             ID
Instance Name
greeting_ba    bytearray          6  bytearray(b'helLlo')  2843970450736

The mutable method ```insert``` inserts a new byte so that the original byte at that index and all bytes at subsequent indexes are shifted along one. This behaviour is different from the mutable datamodel method ```__setitem__``` which replaces an original byte or slice with a new byte or slice.

The mutable ```bytearray``` method ```remove```, removes the first occurrence of a byte in the ```bytearray``` instance:

In [66]:
greeting_ba.remove?

Signature: greeting_ba.remove(value, /)
Docstring:
Remove the first occurrence of a value in the bytearray.

value
  The value to remove.
Type:      builtin_function_or_method

In [67]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 104
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 76
4 	 int                  	 1      	 108
5 	 int                  	 1      	 111

For example the first occurance of ```l``` can be removed:

In [68]:
ord('l')

108

In [69]:
greeting_ba.remove(108) # mutated inplace, no return value

In [70]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 104
1 	 int                  	 1      	 101
2 	 int                  	 1      	 76
3 	 int                  	 1      	 108
4 	 int                  	 1      	 111

The mutable ```bytearray``` method ```reverse``` can be used to reverse the order of the bytes in the ```bytearray``` instance:

In [71]:
greeting_ba.reverse?

Signature: greeting_ba.reverse()
Docstring: Reverse the order of the values in B in place.
Type:      builtin_function_or_method

In [72]:
greeting_ba.reverse() # mutated inplace, no return value

In [73]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 111
1 	 int                  	 1      	 108
2 	 int                  	 1      	 76
3 	 int                  	 1      	 101
4 	 int                  	 1      	 104

This should not be confused with the reversed iterator that is returned when the ```reversed``` builtins function is used:

In [74]:
backward = reversed(greeting_ba)

In [75]:
backward

In [76]:
next(backward)

104

The mutable ```bytearray``` method ```clear```, clears all bytes in the ```bytearray``` instance:

In [77]:
greeting_ba.clear?

Signature: greeting_ba.clear()
Docstring: Remove all items from the bytearray.
Type:      builtin_function_or_method

In [78]:
greeting_ba.clear() # mutated inplace, no return value

In [79]:
variables(['greeting_ba'], show_id=True)

                    Type Size/Shape           Value             ID
Instance Name
greeting_ba    bytearray          0  bytearray(b'')  2843970450736

In [80]:
view(greeting_ba)

Index 	 Type                 	 Size   	 Value

The mutable ```bytearray``` method ```copy```, can be used to copy a ```bytearray``` instance:

In [81]:
bytearray.copy?

Signature: bytearray.copy(self, /)
Docstring: Return a copy of B.
Type:      method_descriptor

Reassigning ```greeting_ba``` to a new instance:

In [82]:
greeting_ba = bytearray(b'hello')

In [83]:
greeting_ba_copy = greeting_ba.copy() # return value assigned to new instance name

Notice that these two ```bytearray``` instances have the same values but different IDs:

In [84]:
variables(['greeting_ba', 'greeting_ba_copy'], show_id=True)

                       Type Size/Shape                Value             ID
Instance Name
greeting_ba       bytearray          5  bytearray(b'hello')  2843970573552
greeting_ba_copy  bytearray          5  bytearray(b'hello')  2843970575280

In [85]:
greeting_ba == greeting_ba_copy # equal value

True

In [86]:
greeting_ba is greeting_ba_copy # but not the same instance

False

One ```bytearray``` instance can be modified without influencing the other:

In [87]:
greeting_ba.clear() # mutated inplace, no return value

In [88]:
variables(['greeting_ba', 'greeting_ba_copy'], show_id=True)

                       Type Size/Shape                Value             ID
Instance Name
greeting_ba       bytearray          0       bytearray(b'')  2843970573552
greeting_ba_copy  bytearray          5  bytearray(b'hello')  2843970575280

The mutable ```bytearray``` method ```pop```, pops of the last byte in the ```bytearray``` instance, mutating it inplace **and** has a ```return``` statement, returning the popped value:

In [89]:
greeting_ba_copy.pop?

Signature: greeting_ba_copy.pop(index=-1, /)
Docstring:
Remove and return a single item from B.

  index
    The index from where to remove the item.
    -1 (the default value) means remove the last item.

If no index argument is given, will pop the last item.
Type:      builtin_function_or_method

In [90]:
greeting_ba_copy.pop() # return value

111

In [91]:
variables(['greeting_ba', 'greeting_ba_copy'], show_id=True) # also mutated inplace

                       Type Size/Shape               Value             ID
Instance Name
greeting_ba       bytearray          0      bytearray(b'')  2843970573552
greeting_ba_copy  bytearray          4  bytearray(b'hell')  2843970575280

An index can also be selected to pop:

In [92]:
view(greeting_ba_copy)

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 104
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 108

For example index ```1```:

In [93]:
greeting_ba_copy.pop(1) # return value

101

In [94]:
variables(['greeting_ba', 'greeting_ba_copy'], show_id=True) # also mutated inplace

                       Type Size/Shape              Value             ID
Instance Name
greeting_ba       bytearray          0     bytearray(b'')  2843970573552
greeting_ba_copy  bytearray          3  bytearray(b'hll')  2843970575280

[Return to Anaconda Tutorial](../readme.md)