In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib qt5
sns.set_style('whitegrid')
sns.set_palette(palette='tab10')

In [3]:
df = pd.DataFrame(data={'x': np.arange(0, 11, 1),
                        'y': np.arange(0, 22, 2)})

In [4]:
df.head()

   x  y
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

In [5]:
df.dtypes

x    int32
y    int32
dtype: object

In [6]:
df['x'].head() % 2

0    0
1    1
2    0
3    1
4    0
Name: x, dtype: int32

In [7]:
df['x'].head() % 2 == 0

0     True
1    False
2     True
3    False
4     True
Name: x, dtype: bool

In [8]:
df['x'].head() % 2

0    0
1    1
2    0
3    1
4    0
Name: x, dtype: int32

In [9]:
df['x'].head() % 2 == 0

0     True
1    False
2     True
3    False
4     True
Name: x, dtype: bool

In [10]:
df['parity'] = df['x'] % 2 == 0

In [11]:
df['parity'] = df['parity'].astype('category')

In [12]:
df['parity'] = df['parity'].cat.rename_categories({True: 'even',
                                                   False: 'odd'})

In [13]:
df.head()

   x  y parity
0  0  0   even
1  1  2    odd
2  2  4   even
3  3  6    odd
4  4  8   even

In [14]:
df.dtypes

x            int32
y            int32
parity    category
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       11 non-null     int32
 1   y       11 non-null     int32
 2   parity  11 non-null     category
dtypes: category(1), int32(2)
memory usage: 355.0 bytes

In [16]:
df.describe()

               x         y
count  11.000000  11.00000
mean    5.000000  10.00000
std     3.316625   6.63325
min     0.000000   0.00000
25%     2.500000   5.00000
50%     5.000000  10.00000
75%     7.500000  15.00000
max    10.000000  20.00000

In [17]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [18]:
flights = sns.load_dataset(name='flights')

In [19]:
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121