In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib qt5
sns.set_style('whitegrid')

In [3]:
sns.color_palette(palette='tab10')

[(0.12156862745098039, 0.4666666666666667, 0.7058823529411765),
 (1.0, 0.4980392156862745, 0.054901960784313725),
 (0.17254901960784313, 0.6274509803921569, 0.17254901960784313),
 (0.8392156862745098, 0.15294117647058825, 0.1568627450980392),
 (0.5803921568627451, 0.403921568627451, 0.7411764705882353),
 (0.5490196078431373, 0.33725490196078434, 0.29411764705882354),
 (0.8901960784313725, 0.4666666666666667, 0.7607843137254902),
 (0.4980392156862745, 0.4980392156862745, 0.4980392156862745),
 (0.7372549019607844, 0.7411764705882353, 0.13333333333333333),
 (0.09019607843137255, 0.7450980392156863, 0.8117647058823529)]

In [ ]:
sns.palettes.mpl.

In [13]:
sns.blend_palette(colors=('tomato', 'yellow', 'darkseagreen', 'royalblue'),
                  n_colors=10)

[(1.0, 0.38823529411764707, 0.2784313725490196),
 (1.0, 0.5897577854671281, 0.1867128027681661),
 (1.0, 0.791280276816609, 0.09499423298731258),
 (1.0, 1.0, 0.0),
 (0.8553171856978086, 0.9134486735870819, 0.1847289504036909),
 (0.7054671280276816, 0.8238062283737024, 0.3760553633217993),
 (0.5607843137254902, 0.7372549019607844, 0.5607843137254902),
 (0.4564244521337947, 0.6262053056516724, 0.6704959630911188),
 (0.35566320645905425, 0.5189850057670127, 0.7764244521337946),
 (0.2549019607843137, 0.4117647058823529, 0.8823529411764706)]

In [14]:
bp = sns.blend_palette(colors=('tomato', 'yellow', 'darkseagreen', 'royalblue'),
                       n_colors=10)

In [15]:
bp

[(1.0, 0.38823529411764707, 0.2784313725490196),
 (1.0, 0.5897577854671281, 0.1867128027681661),
 (1.0, 0.791280276816609, 0.09499423298731258),
 (1.0, 1.0, 0.0),
 (0.8553171856978086, 0.9134486735870819, 0.1847289504036909),
 (0.7054671280276816, 0.8238062283737024, 0.3760553633217993),
 (0.5607843137254902, 0.7372549019607844, 0.5607843137254902),
 (0.4564244521337947, 0.6262053056516724, 0.6704959630911188),
 (0.35566320645905425, 0.5189850057670127, 0.7764244521337946),
 (0.2549019607843137, 0.4117647058823529, 0.8823529411764706)]

In [17]:
x = np.array([1, 2, 3, 4, 5])
y = np.array([2, 4, 6, 8, 10])

In [21]:
sns.set_palette(palette=bp)

In [25]:
fig = plt.figure(num=6, figsize=None, dpi=None)
ax = fig.add_subplot(111)
for num in range(30):
    ax.plot(x, y+num)

In [26]:
sns.set_palette(palette='tab10')

In [28]:
fig = plt.figure(num=7, figsize=None, dpi=None)
ax = fig.add_subplot(111)
for num in range(15):
    ax.plot(x, y+num)

In [29]:
sns.xkcd_rgb

{'acid green': '#8ffe09',
 'adobe': '#bd6c48',
 'algae': '#54ac68',
 'algae green': '#21c36f',
 'almost black': '#070d0d',
 'amber': '#feb308',
 'amethyst': '#9b5fc0',
 'apple': '#6ecb3c',
 'apple green': '#76cd26',
 'apricot': '#ffb16d',
 'aqua': '#13eac9',
 'aqua blue': '#02d8e9',
 'aqua green': '#12e193',
 'aqua marine': '#2ee8bb',
 'aquamarine': '#04d8b2',
 'army green': '#4b5d16',
 'asparagus': '#77ab56',
 'aubergine': '#3d0734',
 'auburn': '#9a3001',
 'avocado': '#90b134',
 'avocado green': '#87a922',
 'azul': '#1d5dec',
 'azure': '#069af3',
 'baby blue': '#a2cffe',
 'baby green': '#8cff9e',
 'baby pink': '#ffb7ce',
 'baby poo': '#ab9004',
 'baby poop': '#937c00',
 'baby poop green': '#8f9805',
 'baby puke green': '#b6c406',
 'baby purple': '#ca9bf7',
 'baby shit brown': '#ad900d',
 'baby shit green': '#889717',
 'banana': '#ffff7e',
 'banana yellow': '#fafe4b',
 'barbie pink': '#fe46a5',
 'barf green': '#94ac02',
 'barney': '#ac1db8',
 'barney purple': '#a00498',
 'battleship grey': '#6b7c85',
 'beige': '#e6daa6',
 'berry': '#990f4b',
 'bile': '#b5c306',
 'black': '#000000',
 'bland': '#afa88b',
 'blood': '#770001',
 'blood orange': '#fe4b03',
 'blood red': '#980002',
 'blue': '#0343df',
 'blue blue': '#2242c7',
 'blue green': '#137e6d',
 'blue grey': '#607c8e',
 'blue purple': '#5729ce',
 'blue violet': '#5d06e9',
 'blue with a hint of purple': '#533cc6',
 'blue/green': '#0f9b8e',
 'blue/grey': '#758da3',
 'blue/purple': '#5a06ef',
 'blueberry': '#464196',
 'bluegreen': '#017a79',
 'bluegrey': '#85a3b2',
 'bluey green': '#2bb179',
 'bluey grey': '#89a0b0',
 'bluey purple': '#6241c7',
 'bluish': '#2976bb',
 'bluish green': '#10a674',
 'bluish grey': '#748b97',
 'bluish purple': '#703be7',
 'blurple': '#5539cc',
 'blush': '#f29e8e',
 'blush pink': '#fe828c',
 'booger': '#9bb53c',
 'booger green': '#96b403',
 'bordeaux': '#7b002c',
 'boring green': '#63b365',
 'bottle green': '#044a05',
 'brick': '#a03623',
 'brick orange': '#c14a09',
 'brick red': '#8f1402',
 'bright aqua': '#0bf9ea',
 'bright blue': '#0165fc',
 'bright cyan': '#41fdfe',
 'bright green': '#01ff07',
 'bright lavender': '#c760ff',
 'bright light blue': '#26f7fd',
 'bright light green': '#2dfe54',
 'bright lilac': '#c95efb',
 'bright lime': '#87fd05',
 'bright lime green': '#65fe08',
 'bright magenta': '#ff08e8',
 'bright olive': '#9cbb04',
 'bright orange': '#ff5b00',
 'bright pink': '#fe01b1',
 'bright purple': '#be03fd',
 'bright red': '#ff000d',
 'bright sea green': '#05ffa6',
 'bright sky blue': '#02ccfe',
 'bright teal': '#01f9c6',
 'bright turquoise': '#0ffef9',
 'bright violet': '#ad0afd',
 'bright yellow': '#fffd01',
 'bright yellow green': '#9dff00',
 'british racing green': '#05480d',
 'bronze': '#a87900',
 'brown': '#653700',
 'brown green': '#706c11',
 'brown grey': '#8d8468',
 'brown orange': '#b96902',
 'brown red': '#922b05',
 'brown yellow': '#b29705',
 'brownish': '#9c6d57',
 'brownish green': '#6a6e09',
 'brownish grey': '#86775f',
 'brownish orange': '#cb7723',
 'brownish pink': '#c27e79',
 'brownish purple': '#76424e',
 'brownish red': '#9e3623',
 'brownish yellow': '#c9b003',
 'browny green': '#6f6c0a',
 'browny orange': '#ca6b02',
 'bruise': '#7e4071',
 'bubble gum pink': '#ff69af',
 'bubblegum': '#ff6cb5',
 'bubblegum pink': '#fe83cc',
 'buff': '#fef69e',
 'burgundy': '#610023',
 'burnt orange': '#c04e01',
 'burnt red': '#9f2305',
 'burnt siena': '#b75203',
 'burnt sienna': '#b04e0f',
 'burnt umber': '#a0450e',
 'burnt yellow': '#d5ab09',
 'burple': '#6832e3',
 'butter': '#ffff81',
 'butter yellow': '#fffd74',
 'butterscotch': '#fdb147',
 'cadet blue': '#4e7496',
 'camel': '#c69f59',
 'camo': '#7f8f4e',
 'camo green': '#526525',
 'camouflage green': '#4b6113',
 'canary': '#fdff63',
 'canary yellow': '#fffe40',
 'candy pink': '#ff63e9',
 'caramel': '#af6f09',
 'carmine': '#9d0216',
 'carnation': '#fd798f',
 'carnation pink': '#ff7fa7',
 'carolina blue': '#8ab8fe',
 'celadon': '#befdb7',
 'celery': '#c1fd95',
 'cement': '#a5a391',
 'cerise': '#de0c62',
 'cerulean': '#0485d1',
 'cerulean blue': '#056eee',
 'charcoal': '#343837',
 'charcoal grey': '#3c4142',
 'chartreuse': '#c1f80a',
 'cherry': '#cf0234',
 'cherry red': '#f7022a',
 'chestnut': '#742802',
 'chocolate': '#3d1c02',
 'chocolate brown': '#411900',
 'cinnamon': '#ac4f06',
 'claret': '#680018',
 'clay': '#b66a50',
 'clay brown': '#b2713d',
 'clear blue': '#247afd',
 'cloudy blue': '#acc2d9',
 'cobalt': '#1e488f',
 'cobalt blue': '#030aa7',
 'cocoa': '#875f42',
 'coffee': '#a6814c',
 'cool blue': '#4984b8',
 'cool green': '#33b864',
 'cool grey': '#95a3a6',
 'copper': '#b66325',
 'coral': '#fc5a50',
 'coral pink': '#ff6163',
 'cornflower': '#6a79f7',
 'cornflower blue': '#5170d7',
 'cranberry': '#9e003a',
 'cream': '#ffffc2',
 'creme': '#ffffb6',
 'crimson': '#8c000f',
 'custard': '#fffd78',
 'cyan': '#00ffff',
 'dandelion': '#fedf08',
 'dark': '#1b2431',
 'dark aqua': '#05696b',
 'dark aquamarine': '#017371',
 'dark beige': '#ac9362',
 'dark blue': '#00035b',
 'dark blue green': '#005249',
 'dark blue grey': '#1f3b4d',
 'dark brown': '#341c02',
 'dark coral': '#cf524e',
 'dark cream': '#fff39a',
 'dark cyan': '#0a888a',
 'dark forest green': '#002d04',
 'dark fuchsia': '#9d0759',
 'dark gold': '#b59410',
 'dark grass green': '#388004',
 'dark green': '#033500',
 'dark green blue': '#1f6357',
 'dark grey': '#363737',
 'dark grey blue': '#29465b',
 'dark hot pink': '#d90166',
 'dark indigo': '#1f0954',
 'dark khaki': '#9b8f55',
 'dark lavender': '#856798',
 'dark lilac': '#9c6da5',
 'dark lime': '#84b701',
 'dark lime green': '#7ebd01',
 'dark magenta': '#960056',
 'dark maroon': '#3c0008',
 'dark mauve': '#874c62',
 'dark mint': '#48c072',
 'dark mint green': '#20c073',
 'dark mustard': '#a88905',
 'dark navy': '#000435',
 'dark navy blue': '#00022e',
 'dark olive': '#373e02',
 'dark olive green': '#3c4d03',
 'dark orange': '#c65102',
 'dark pastel green': '#56ae57',
 'dark peach': '#de7e5d',
 'dark periwinkle': '#665fd1',
 'dark pink': '#cb416b',
 'dark plum': '#3f012c',
 'dark purple': '#35063e',
 'dark red': '#840000',
 'dark rose': '#b5485d',
 'dark royal blue': '#02066f',
 'dark sage': '#598556',
 'dark salmon': '#c85a53',
 'dark sand': '#a88f59',
 'dark sea green': '#11875d',
 'dark seafoam': '#1fb57a',
 'dark seafoam green': '#3eaf76',
 'dark sky blue': '#448ee4',
 'dark slate blue': '#214761',
 'dark tan': '#af884a',
 'dark taupe': '#7f684e',
 'dark teal': '#014d4e',
 'dark turquoise': '#045c5a',
 'dark violet': '#34013f',
 'dark yellow': '#d5b60a',
 'dark yellow green': '#728f02',
 'darkblue': '#030764',
 'darkgreen': '#054907',
 'darkish blue': '#014182',
 'darkish green': '#287c37',
 'darkish pink': '#da467d',
 'darkish purple': '#751973',
 'darkish red': '#a90308',
 'deep aqua': '#08787f',
 'deep blue': '#040273',
 'deep brown': '#410200',
 'deep green': '#02590f',
 'deep lavender': '#8d5eb7',
 'deep lilac': '#966ebd',
 'deep magenta': '#a0025c',
 'deep orange': '#dc4d01',
 'deep pink': '#cb0162',
 'deep purple': '#36013f',
 'deep red': '#9a0200',
 'deep rose': '#c74767',
 'deep sea blue': '#015482',
 'deep sky blue': '#0d75f8',
 'deep teal': '#00555a',
 'deep turquoise': '#017374',
 'deep violet': '#490648',
 'denim': '#3b638c',
 'denim blue': '#3b5b92',
 'desert': '#ccad60',
 'diarrhea': '#9f8303',
 'dirt': '#8a6e45',
 'dirt brown': '#836539',
 'dirty blue': '#3f829d',
 'dirty green': '#667e2c',
 'dirty orange': '#c87606',
 'dirty pink': '#ca7b80',
 'dirty purple': '#734a65',
 'dirty yellow': '#cdc50a',
 'dodger blue': '#3e82fc',
 'drab': '#828344',
 'drab green': '#749551',
 'dried blood': '#4b0101',
 'duck egg blue': '#c3fbf4',
 'dull blue': '#49759c',
 'dull brown': '#876e4b',
 'dull green': '#74a662',
 'dull orange': '#d8863b',
 'dull pink': '#d5869d',
 'dull purple': '#84597e',
 'dull red': '#bb3f3f',
 'dull teal': '#5f9e8f',
 'dull yellow': '#eedc5b',
 'dusk': '#4e5481',
 'dusk blue': '#26538d',
 'dusky blue': '#475f94',
 'dusky pink': '#cc7a8b',
 'dusky purple': '#895b7b',
 'dusky rose': '#ba6873',
 'dust': '#b2996e',
 'dusty blue': '#5a86ad',
 'dusty green': '#76a973',
 'dusty lavender': '#ac86a8',
 'dusty orange': '#f0833a',
 'dusty pink': '#d58a94',
 'dusty purple': '#825f87',
 'dusty red': '#b9484e',
 'dusty rose': '#c0737a',
 'dusty teal': '#4c9085',
 'earth': '#a2653e',
 'easter green': '#8cfd7e',
 'easter purple': '#c071fe',
 'ecru': '#feffca',
 'egg shell': '#fffcc4',
 'eggplant': '#380835',
 'eggplant purple': '#430541',
 'eggshell': '#ffffd4',
 'eggshell blue': '#c4fff7',
 'electric blue': '#0652ff',
 'electric green': '#21fc0d',
 'electric lime': '#a8ff04',
 'electric pink': '#ff0490',
 'electric purple': '#aa23ff',
 'emerald': '#01a049',
 'emerald green': '#028f1e',
 'evergreen': '#05472a',
 'faded blue': '#658cbb',
 'faded green': '#7bb274',
 'faded orange': '#f0944d',
 'faded pink': '#de9dac',
 'faded purple': '#916e99',
 'faded red': '#d3494e',
 'faded yellow': '#feff7f',
 'fawn': '#cfaf7b',
 'fern': '#63a950',
 'fern green': '#548d44',
 'fire engine red': '#fe0002',
 'flat blue': '#3c73a8',
 'flat green': '#699d4c',
 'fluorescent green': '#08ff08',
 'fluro green': '#0aff02',
 'foam green': '#90fda9',
 'forest': '#0b5509',
 'forest green': '#06470c',
 'forrest green': '#154406',
 'french blue': '#436bad',
 'fresh green': '#69d84f',
 'frog green': '#58bc08',
 'fuchsia': '#ed0dd9',
 'gold': '#dbb40c',
 'golden': '#f5bf03',
 'golden brown': '#b27a01',
 'golden rod': '#f9bc08',
 'golden yellow': '#fec615',
 'goldenrod': '#fac205',
 'grape': '#6c3461',
 'grape purple': '#5d1451',
 'grapefruit': '#fd5956',
 'grass': '#5cac2d',
 'grass green': '#3f9b0b',
 'grassy green': '#419c03',
 'green': '#15b01a',
 'green apple': '#5edc1f',
 'green blue': '#06b48b',
 'green brown': '#544e03',
 'green grey': '#77926f',
 'green teal': '#0cb577',
 'green yellow': '#c9ff27',
 'green/blue': '#01c08d',
 'green/yellow': '#b5ce08',
 'greenblue': '#23c48b',
 'greenish': '#40a368',
 'greenish beige': '#c9d179',
 'greenish blue': '#0b8b87',
 'greenish brown': '#696112',
 'greenish cyan': '#2afeb7',
 'greenish grey': '#96ae8d',
 'greenish tan': '#bccb7a',
 'greenish teal': '#32bf84',
 'greenish turquoise': '#00fbb0',
 'greenish yellow': '#cdfd02',
 'greeny blue': '#42b395',
 'greeny brown': '#696006',
 'greeny grey': '#7ea07a',
 'greeny yellow': '#c6f808',
 'grey': '#929591',
 'grey blue': '#6b8ba4',
 'grey brown': '#7f7053',
 'grey green': '#789b73',
 'grey pink': '#c3909b',
 'grey purple': '#826d8c',
 'grey teal': '#5e9b8a',
 'grey/blue': '#647d8e',
 'grey/green': '#86a17d',
 'greyblue': '#77a1b5',
 'greyish': '#a8a495',
 'greyish blue': '#5e819d',
 'greyish brown': '#7a6a4f',
 'greyish green': '#82a67d',
 'greyish pink': '#c88d94',
 'greyish purple': '#887191',
 'greyish teal': '#719f91',
 'gross green': '#a0bf16',
 'gunmetal': '#536267',
 'hazel': '#8e7618',
 'heather': '#a484ac',
 'heliotrope': '#d94ff5',
 'highlighter green': '#1bfc06',
 'hospital green': '#9be5aa',
 'hot green': '#25ff29',
 'hot magenta': '#f504c9',
 'hot pink': '#ff028d',
 'hot purple': '#cb00f5',
 'hunter green': '#0b4008',
 'ice': '#d6fffa',
 'ice blue': '#d7fffe',
 'icky green': '#8fae22',
 'indian red': '#850e04',
 'indigo': '#380282',
 'indigo blue': '#3a18b1',
 'iris': '#6258c4',
 'irish green': '#019529',
 'ivory': '#ffffcb',
 'jade': '#1fa774',
 'jade green': '#2baf6a',
 'jungle green': '#048243',
 'kelley green': '#009337',
 'kelly green': '#02ab2e',
 'kermit green': '#5cb200',
 'key lime': '#aeff6e',
 'khaki': '#aaa662',
 'khaki green': '#728639',
 'kiwi': '#9cef43',
 'kiwi green': '#8ee53f',
 'lavender': '#c79fef',
 'lavender blue': '#8b88f8',
 'lavender pink': '#dd85d7',
 'lawn green': '#4da409',
 'leaf': '#71aa34',
 'leaf green': '#5ca904',
 'leafy green': '#51b73b',
 'leather': '#ac7434',
 'lemon': '#fdff52',
 'lemon green': '#adf802',
 'lemon lime': '#bffe28',
 'lemon yellow': '#fdff38',
 'lichen': '#8fb67b',
 'light aqua': '#8cffdb',
 'light aquamarine': '#7bfdc7',
 'light beige': '#fffeb6',
 'light blue': '#95d0fc',
 'light blue green': '#7efbb3',
 'light blue grey': '#b7c9e2',
 'light bluish green': '#76fda8',
 'light bright green': '#53fe5c',
 'light brown': '#ad8150',
 'light burgundy': '#a8415b',
 'light cyan': '#acfffc',
 'light eggplant': '#894585',
 'light forest green': '#4f9153',
 'light gold': '#fddc5c',
 'light grass green': '#9af764',
 'light green': '#96f97b',
 'light green blue': '#56fca2',
 'light greenish blue': '#63f7b4',
 'light grey': '#d8dcd6',
 'light grey blue': '#9dbcd4',
 'light grey green': '#b7e1a1',
 'light indigo': '#6d5acf',
 'light khaki': '#e6f2a2',
 'light lavendar': '#efc0fe',
 'light lavender': '#dfc5fe',
 'light light blue': '#cafffb',
 'light light green': '#c8ffb0',
 'light lilac': '#edc8ff',
 'light lime': '#aefd6c',
 'light lime green': '#b9ff66',
 'light magenta': '#fa5ff7',
 'light maroon': '#a24857',
 'light mauve': '#c292a1',
 'light mint': '#b6ffbb',
 'light mint green': '#a6fbb2',
 'light moss green': '#a6c875',
 'light mustard': '#f7d560',
 'light navy': '#155084',
 'light navy blue': '#2e5a88',
 'light neon green': '#4efd54',
 'light olive': '#acbf69',
 'light olive green': '#a4be5c',
 'light orange': '#fdaa48',
 'light pastel green': '#b2fba5',
 'light pea green': '#c4fe82',
 'light peach': '#ffd8b1',
 'light periwinkle': '#c1c6fc',
 'light pink': '#ffd1df',
 'light plum': '#9d5783',
 'light purple': '#bf77f6',
 'light red': '#ff474c',
 'light rose': '#ffc5cb',
 'light royal blue': '#3a2efe',
 'light sage': '#bcecac',
 'light salmon': '#fea993',
 'light sea green': '#98f6b0',
 'light seafoam': '#a0febf',
 'light seafoam green': '#a7ffb5',
 'light sky blue': '#c6fcff',
 'light tan': '#fbeeac',
 'light teal': '#90e4c1',
 'light turquoise': '#7ef4cc',
 'light urple': '#b36ff6',
 'light violet': '#d6b4fc',
 'light yellow': '#fffe7a',
 'light yellow green': '#ccfd7f',
 'light yellowish green': '#c2ff89',
 'lightblue': '#7bc8f6',
 'lighter green': '#75fd63',
 'lighter purple': '#a55af4',
 'lightgreen': '#76ff7b',
 'lightish blue': '#3d7afd',
 'lightish green': '#61e160',
 'lightish purple': '#a552e6',
 'lightish red': '#fe2f4a',
 'lilac': '#cea2fd',
 'liliac': '#c48efd',
 'lime': '#aaff32',
 'lime green': '#89fe05',
 'lime yellow': '#d0fe1d',
 'lipstick': '#d5174e',
 'lipstick red': '#c0022f',
 'macaroni and cheese': '#efb435',
 'magenta': '#c20078',
 'mahogany': '#4a0100',
 'maize': '#f4d054',
 'mango': '#ffa62b',
 'manilla': '#fffa86',
 'marigold': '#fcc006',
 'marine': '#042e60',
 'marine blue': '#01386a',
 'maroon': '#650021',
 'mauve': '#ae7181',
 'medium blue': '#2c6fbb',
 'medium brown': '#7f5112',
 'medium green': '#39ad48',
 'medium grey': '#7d7f7c',
 'medium pink': '#f36196',
 'medium purple': '#9e43a2',
 'melon': '#ff7855',
 'merlot': '#730039',
 'metallic blue': '#4f738e',
 'mid blue': '#276ab3',
 'mid green': '#50a747',
 'midnight': '#03012d',
 'midnight blue': '#020035',
 'midnight purple': '#280137',
 'military green': '#667c3e',
 'milk chocolate': '#7f4e1e',
 'mint': '#9ffeb0',
 'mint green': '#8fff9f',
 'minty green': '#0bf77d',
 'mocha': '#9d7651',
 'moss': '#769958',
 'moss green': '#658b38',
 'mossy green': '#638b27',
 'mud': '#735c12',
 'mud brown': '#60460f',
 'mud green': '#606602',
 'muddy brown': '#886806',
 'muddy green': '#657432',
 'muddy yellow': '#bfac05',
 'mulberry': '#920a4e',
 'murky green': '#6c7a0e',
 'mushroom': '#ba9e88',
 'mustard': '#ceb301',
 'mustard brown': '#ac7e04',
 'mustard green': '#a8b504',
 'mustard yellow': '#d2bd0a',
 'muted blue': '#3b719f',
 'muted green': '#5fa052',
 'muted pink': '#d1768f',
 'muted purple': '#805b87',
 'nasty green': '#70b23f',
 'navy': '#01153e',
 'navy blue': '#001146',
 'navy green': '#35530a',
 'neon blue': '#04d9ff',
 'neon green': '#0cff0c',
 'neon pink': '#fe019a',
 'neon purple': '#bc13fe',
 'neon red': '#ff073a',
 'neon yellow': '#cfff04',
 'nice blue': '#107ab0',
 'night blue': '#040348',
 'ocean': '#017b92',
 'ocean blue': '#03719c',
 'ocean green': '#3d9973',
 'ocher': '#bf9b0c',
 'ochre': '#bf9005',
 'ocre': '#c69c04',
 'off blue': '#5684ae',
 'off green': '#6ba353',
 'off white': '#ffffe4',
 'off yellow': '#f1f33f',
 'old pink': '#c77986',
 'old rose': '#c87f89',
 'olive': '#6e750e',
 'olive brown': '#645403',
 'olive drab': '#6f7632',
 'olive green': '#677a04',
 'olive yellow': '#c2b709',
 'orange': '#f97306',
 'orange brown': '#be6400',
 'orange pink': '#ff6f52',
 'orange red': '#fd411e',
 'orange yellow': '#ffad01',
 'orangeish': '#fd8d49',
 'orangered': '#fe420f',
 'orangey brown': '#b16002',
 'orangey red': '#fa4224',
 'orangey yellow': '#fdb915',
 'orangish': '#fc824a',
 'orangish brown': '#b25f03',
 'orangish red': '#f43605',
 'orchid': '#c875c4',
 'pale': '#fff9d0',
 'pale aqua': '#b8ffeb',
 'pale blue': '#d0fefe',
 'pale brown': '#b1916e',
 'pale cyan': '#b7fffa',
 'pale gold': '#fdde6c',
 'pale green': '#c7fdb5',
 'pale grey': '#fdfdfe',
 'pale lavender': '#eecffe',
 'pale light green': '#b1fc99',
 'pale lilac': '#e4cbff',
 'pale lime': '#befd73',
 'pale lime green': '#b1ff65',
 'pale magenta': '#d767ad',
 'pale mauve': '#fed0fc',
 'pale olive': '#b9cc81',
 'pale olive green': '#b1d27b',
 'pale orange': '#ffa756',
 'pale peach': '#ffe5ad',
 'pale pink': '#ffcfdc',
 'pale purple': '#b790d4',
 'pale red': '#d9544d',
 'pale rose': '#fdc1c5',
 'pale salmon': '#ffb19a',
 'pale sky blue': '#bdf6fe',
 'pale teal': '#82cbb2',
 'pale turquoise': '#a5fbd5',
 'pale violet': '#ceaefa',
 'pale yellow': '#ffff84',
 'parchment': '#fefcaf',
 'pastel blue': '#a2bffe',
 'pastel green': '#b0ff9d',
 'pastel orange': '#ff964f',
 'pastel pink': '#ffbacd',
 'pastel purple': '#caa0ff',
 'pastel red': '#db5856',
 'pastel yellow': '#fffe71',
 'pea': '#a4bf20',
 'pea green': '#8eab12',
 'pea soup': '#929901',
 'pea soup green': '#94a617',
 'peach': '#ffb07c',
 'peachy pink': '#ff9a8a',
 'peacock blue': '#016795',
 'pear': '#cbf85f',
 'periwinkle': '#8e82fe',
 'periwinkle blue': '#8f99fb',
 'perrywinkle': '#8f8ce7',
 'petrol': '#005f6a',
 'pig pink': '#e78ea5',
 'pine': '#2b5d34',
 'pine green': '#0a481e',
 'pink': '#ff81c0',
 'pink purple': '#db4bda',
 'pink red': '#f5054f',
 'pink/purple': '#ef1de7',
 'pinkish': '#d46a7e',
 'pinkish brown': '#b17261',
 'pinkish grey': '#c8aca9',
 'pinkish orange': '#ff724c',
 'pinkish purple': '#d648d7',
 'pinkish red': '#f10c45',
 'pinkish tan': '#d99b82',
 'pinky': '#fc86aa',
 'pinky purple': '#c94cbe',
 'pinky red': '#fc2647',
 'piss yellow': '#ddd618',
 'pistachio': '#c0fa8b',
 'plum': '#580f41',
 'plum purple': '#4e0550',
 'poison green': '#40fd14',
 'poo': '#8f7303',
 'poo brown': '#885f01',
 'poop': '#7f5e00',
 'poop brown': '#7a5901',
 'poop green': '#6f7c00',
 'powder blue': '#b1d1fc',
 'powder pink': '#ffb2d0',
 'primary blue': '#0804f9',
 'prussian blue': '#004577',
 'puce': '#a57e52',
 'puke': '#a5a502',
 'puke brown': '#947706',
 'puke green': '#9aae07',
 'puke yellow': '#c2be0e',
 'pumpkin': '#e17701',
 'pumpkin orange': '#fb7d07',
 'pure blue': '#0203e2',
 'purple': '#7e1e9c',
 'purple blue': '#632de9',
 'purple brown': '#673a3f',
 'purple grey': '#866f85',
 'purple pink': '#e03fd8',
 'purple red': '#990147',
 'purple/blue': '#5d21d0',
 'purple/pink': '#d725de',
 'purpleish': '#98568d',
 'purpleish blue': '#6140ef',
 'purpleish pink': '#df4ec8',
 'purpley': '#8756e4',
 'purpley blue': '#5f34e7',
 'purpley grey': '#947e94',
 'purpley pink': '#c83cb9',
 'purplish': '#94568c',
 'purplish blue': '#601ef9',
 'purplish brown': '#6b4247',
 'purplish grey': '#7a687f',
 'purplish pink': '#ce5dae',
 'purplish red': '#b0054b',
 'purply': '#983fb2',
 'purply blue': '#661aee',
 'purply pink': '#f075e6',
 'putty': '#beae8a',
 'racing green': '#014600',
 'radioactive green': '#2cfa1f',
 'raspberry': '#b00149',
 'raw sienna': '#9a6200',
 'raw umber': '#a75e09',
 'really light blue': '#d4ffff',
 'red': '#e50000',
 'red brown': '#8b2e16',
 'red orange': '#fd3c06',
 'red pink': '#fa2a55',
 'red purple': '#820747',
 'red violet': '#9e0168',
 'red wine': '#8c0034',
 'reddish': '#c44240',
 'reddish brown': '#7f2b0a',

In [44]:
xkcdp = sns.xkcd_palette(colors=('tomato red',
                                 'coral',
                                 'light plum',
                                 'cocoa',
                                 'yellowish', 
                                 'cool green',
                                 'faded green',
                                 'light teal',
                                 'faded blue',
                                 'cornflower blue'))
xkcdp

[(0.9254901960784314, 0.17647058823529413, 0.00392156862745098),
 (0.9882352941176471, 0.35294117647058826, 0.3137254901960784),
 (0.615686274509804, 0.3411764705882353, 0.5137254901960784),
 (0.5294117647058824, 0.37254901960784315, 0.25882352941176473),
 (0.9803921568627451, 0.9333333333333333, 0.4),
 (0.2, 0.7215686274509804, 0.39215686274509803),
 (0.4823529411764706, 0.6980392156862745, 0.4549019607843137),
 (0.5647058823529412, 0.8941176470588236, 0.7568627450980392),
 (0.396078431372549, 0.5490196078431373, 0.7333333333333333),
 (0.3176470588235294, 0.4392156862745098, 0.8431372549019608)]

In [48]:
plt.close('all')

In [50]:
dp = sns.choose_diverging_palette()

interactive(children=(IntSlider(value=220, description='h_neg', max=359), IntSlider(value=10, description='h_pâ€¦

In [51]:
sns.set_palette(palette=dp)

In [52]:
fig = plt.figure(num=10, figsize=None, dpi=None)
ax = fig.add_subplot(111)
for num in range(15):
    ax.plot(x, y+num)

In [71]:
df = pd.DataFrame(data={'x': np.arange(0, 11, 1),
                        'y': np.arange(0, 22, 2)})

In [85]:
df.head()

   x  y parity
0  0  0   even
1  1  2    odd
2  2  4   even
3  3  6    odd
4  4  8   even

In [86]:
df['x'].head() % 2

0    0
1    1
2    0
3    1
4    0
Name: x, dtype: int32

In [87]:
df['x'].head() % 2 == 0

0     True
1    False
2     True
3    False
4     True
Name: x, dtype: bool

In [75]:
df['parity'] = df['x'] % 2 == 0

In [88]:
df.head()

   x  y parity
0  0  0   even
1  1  2    odd
2  2  4   even
3  3  6    odd
4  4  8   even

In [77]:
df.dtypes

x         int32
y         int32
parity     bool
dtype: object

In [78]:
df['parity'] = df['parity'].astype('category')

In [79]:
df

     x   y parity
0    0   0   True
1    1   2  False
2    2   4   True
3    3   6  False
4    4   8   True
5    5  10  False
6    6  12   True
7    7  14  False
8    8  16   True
9    9  18  False
10  10  20   True

In [80]:
df.dtypes

x            int32
y            int32
parity    category
dtype: object

In [81]:
df['parity'].cat.rename_categories({True: 'even',
                                    False: 'odd'})

0     even
1      odd
2     even
3      odd
4     even
5      odd
6     even
7      odd
8     even
9      odd
10    even
Name: parity, dtype: category
Categories (2, object): ['odd', 'even']

In [82]:
df['parity'] =df['parity'].cat.rename_categories({True: 'even',
                                                  False: 'odd'})

In [83]:
df

     x   y parity
0    0   0   even
1    1   2    odd
2    2   4   even
3    3   6    odd
4    4   8   even
5    5  10    odd
6    6  12   even
7    7  14    odd
8    8  16   even
9    9  18    odd
10  10  20   even

In [84]:
df.dtypes

x            int32
y            int32
parity    category
dtype: object

In [90]:
fig = plt.figure(num=11, figsize=None, dpi=None)
sns.lineplot(data=df, x='x', y='y')

In [92]:
fig = plt.figure(num=12, figsize=None, dpi=None)
sns.scatterplot(data=df, x='x', y='y')

In [94]:
sns.set_style('whitegrid')
sns.set_palette(palette='tab10')

In [95]:
fig = plt.figure(num=13, figsize=None, dpi=None)
sns.scatterplot(data=df, x='x', y='y', hue='parity')

In [97]:
fig = plt.figure(num=14, figsize=None, dpi=None)
sns.stripplot(data=df, x='x', y='y', hue='parity')

In [98]:
fig = plt.figure(num=15, figsize=None, dpi=None)
sns.swarmplot(data=df, x='x', y='y', hue='parity')

In [111]:
fig = plt.figure(num=16, figsize=None, dpi=None)
ax1 = fig.add_subplot(221)
ax2 = fig.add_subplot(222)
ax3 = fig.add_subplot(223)
ax4 = fig.add_subplot(224)

In [112]:
fig.sca(ax1)
sns.lineplot(data=df, x='x', y='y')
fig.sca(ax2)
sns.scatterplot(data=df, x='x', y='y', hue='parity')
fig.sca(ax3)
sns.swarmplot(data=df, x='x', y='y', hue='parity')
fig.sca(ax4)
sns.stripplot(data=df, x='x', y='y', hue='parity')

In [113]:
fig = plt.figure(num=15, figsize=None, dpi=None)
ax1 = fig.add_subplot(221)
sns.lineplot(data=df, x='x', y='y')
ax2 = fig.add_subplot(222)
sns.scatterplot(data=df, x='x', y='y', hue='parity')
ax3 = fig.add_subplot(223)
sns.swarmplot(data=df, x='x', y='y', hue='parity')
ax4 = fig.add_subplot(224)
sns.stripplot(data=df, x='x', y='y', hue='parity')

In [114]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [115]:
flights = sns.load_dataset(name='flights')

In [116]:
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [117]:
flights.dtypes

year             int64
month         category
passengers       int64
dtype: object

In [118]:
flights.shape

(144, 3)

In [125]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

In [123]:
exercise = sns.load_dataset(name='exercise')

In [126]:
exercise.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [130]:
exercise.shape

(90, 6)

In [128]:
exercise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  90 non-null     int64
 1   id          90 non-null     int64
 2   diet        90 non-null     category
 3   pulse       90 non-null     int64
 4   time        90 non-null     category
 5   kind        90 non-null     category
dtypes: category(3), int64(3)
memory usage: 2.9 KB

In [131]:
tips = sns.load_dataset(name='tips')

In [132]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [135]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [134]:
tips.shape

(244, 7)

In [137]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [138]:
taxis = sns.load_dataset(name='taxis')

In [140]:
taxis.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [142]:
taxis.shape

(6433, 14)

In [143]:
taxis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [145]:
iris = sns.load_dataset('iris')

In [146]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [148]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [149]:
iris.shape

(150, 5)

In [150]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [166]:
penguins = sns.load_dataset(name='penguins')

In [169]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [167]:
penguins.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [168]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB