# Builtins Module: The Integer Class (int)

The ```int``` class is an abbreviation for integer, which is a whole number which has a step of ```1```. The ```int``` class is follows the design pattern of a ```Number```.

## Categorize_Identifiers Module

This notebook will use the following functions ```dir2```, ```variables``` and ```view``` in the custom module ```categorize_identifiers``` which is found in the same directory as this notebook file. ```dir2``` is a variant of ```dir``` that groups identifiers into a ```dict``` under categories and ```variables``` is an IPython based a variable inspector. ```view``` is used to view a ```Collection``` in more detail:

In [1]:
from categorize_identifiers import dir2, variables, view

## Initialisation Signature

The docstring for the initialisation signature for the ```int``` class can be examined:

In [2]:
int?

Init signature: int(self, /, *args, **kwargs)
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Type:           type
Subclasses:     bool, IntEnum, IntFlag, _NamedIntConstant, Handle

Like the Unicode ```str``` class, the ```int``` is a fundamental data type and is therefore normally instantiated using an existing instance of itself:

```python
int(self, /, *args, **kwargs)
```

Explicitly, instantiation can be carried out using:

In [3]:
number_1 = int(1)

In [4]:
variables()

              Type Size/Shape Value
Instance Name
number_1       int                1

However this is normally carried out directly:

In [5]:
number_2 = 2

In [6]:
variables()

              Type Size/Shape Value
Instance Name
number_1       int                1
number_2       int                2

The keyword argument base can be used to cast a number from a binary ```str``` instance or a hexadecimal ```str``` instance to an ```int``` instance:

```python
int(x, base=10) -> integer
```

Recall for example that the character ```'a'``` has an ordinal decimal value of ```97```:

In [7]:
ord('a')

97

The ```bin``` function can be used to display an integer in binary (base 2) as a ```str```:

In [8]:
bin(97)

'0b1100001'

The ```hex``` function can likewise be used to display an integer in hexadecimal (base 16) as a ```str```:

In [9]:
hex(97)

'0x61'

These ```str``` instances can be cast back into an ```int```, in order to decode the ```str``` properly the correct ```base``` is required:

In [10]:
int('0b1100001', base=2)

97

In [11]:
int('0x61', base=16)

97

This will also work with or without the ```0b``` or ```0x``` prefix:

In [12]:
int('1100001', base=2)

97

In [13]:
int('61', base=16)

97

## Dot Attribute Access and the Decimal Point

If the following ```int``` instances are instantiated:

In [14]:
number_1 = 1
number_2 = 2

The identifiers can be viewed by inputting:

```python
number_1.
```

Notice if the value is directly input followed by a dot ```.``` then the list of identifiers from the ```int``` class don't display:

```python
1.
```

This is because the ```int``` class follows the design pattern of a Number and in a ```Number```, the ```.``` is recognised as a decimal point:

In [15]:
number_3 = 1.

In [16]:
variables()

                Type Size/Shape Value
Instance Name
number_1         int                1
number_2         int                2
number_3       float              1.0

Notice that ```number_3``` is an instance of another numeric class, the ```float``` which has a decimal point. This class will be covered in more detail in the next tutorial.

Recall when the ```str``` method ```isidentifier``` is used that an identifier can include a number:

In [17]:
'number_1'.isidentifier()

True

However it cannot begin with a number:

In [18]:
'1_number'.isidentifier()

False

The reason the above is ```False``` is because the Python interpreter sees ```1``` and recognises ```1_number``` as a ```Number```. It then would flag up a ```SyntaxError``` as _number are not recognised as numeric characters. Notice the difference in syntax highlighting:

```python
number_1 # Instance Name
1 # Number
1.0 # Number
1_number # Invalid Syntax
'1_number' #str
```

Numeric instances use a limited set of additional notation such as ```.``` for the decimal point or ```e``` for scientific notation. Compare the following:

In [19]:
number_1 = 1
number_2 = 1.
number_3 = 1e5

In [20]:
variables()

                Type Size/Shape     Value
Instance Name
number_1         int                    1
number_2       float                  1.0
number_3       float             100000.0

## Identifiers

The method resolution order can be seen for the ```int``` class:

In [21]:
int.mro()

[int, object]

Note that it is based on the design pattern of an ```object``` and therefore has all the identifiers seen in the ```object``` class:

In [22]:
dir2(int, object, consistent_only=True)

{'datamodel_attribute': ['__doc__'],
 'datamodel_method': ['__class__',
                      '__delattr__',
                      '__dir__',
                      '__eq__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getstate__',
                      '__gt__',
                      '__hash__',
                      '__init__',
                      '__init_subclass__',
                      '__le__',
                      '__lt__',
                      '__ne__',
                      '__new__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__setattr__',
                      '__sizeof__',
                      '__str__',
                      '__subclasshook__']}

The ```operator``` Python standard module can also be imported:

In [23]:
import operator

In [24]:
dir2(operator, object, unique_only=True)

{'method': ['abs',
            'add',
            'and_',
            'call',
            'concat',
            'contains',
            'countOf',
            'delitem',
            'eq',
            'floordiv',
            'ge',
            'getitem',
            'gt',
            'iadd',
            'iand',
            'iconcat',
            'ifloordiv',
            'ilshift',
            'imatmul',
            'imod',
            'imul',
            'index',
            'indexOf',
            'inv',
            'invert',
            'ior',
            'ipow',
            'irshift',
            'is_',
            'is_not',
            'isub',
            'itruediv',
            'ixor',
            'le',
            'length_hint',
            'lshift',
            'lt',
            'matmul',
            'mod',
            'mul',
            'ne',
            'neg',
            'not_',
            'or_',
            'pos',
            'pow',
            'rshift',
            'setitem',
            'sub',
            'truediv',
            'truth',
            'xor'],
 'lower_class': ['attrgetter', 'itemgetter', 'methodcaller'],
 'datamodel_attribute': ['__all__',
                         '__builtins__',
                         '__cached__',
                         '__file__',
                         '__loader__',
                         '__name__',
                         '__package__',
                         '__spec__'],
 'datamodel_method': ['__abs__',
                      '__add__',
                      '__and__',
                      '__call__',
                      '__concat__',
                      '__contains__',
                      '__delitem__',
                      '__floordiv__',
                      '__getitem__',
                      '__iadd__',
                      '__iand__',
                      '__iconcat__',
                      '__ifloordiv__',
                      '__ilshift__',
                      '__imatmul__',
                      '__imod__',
                      '__imul__',
                      '__index__',
                      '__inv__',
                      '__invert__',
                      '__ior__',
                      '__ipow__',
                      '__irshift__',
                      '__isub__',
                      '__itruediv__',
                      '__ixor__',
                      '__lshift__',
                      '__matmul__',
                      '__mod__',
                      '__mul__',
                      '__neg__',
                      '__not__',
                      '__or__',
                      '__pos__',
                      '__pow__',
                      '__rshift__',
                      '__setitem__',
                      '__sub__',
                      '__truediv__',
                      '__xor__'],
 'internal_method': ['_abs']}

```Numeric``` classes are immutable. Recall the following datamodel identifier is not ```None```:

In [25]:
int.__hash__ == None

False

Which means the instance is immutable and therefore, the ```hash``` function can be used:

In [26]:
hash(1)

1

Notice that the ```hash``` value of an ```int``` is the ```int``` itself. This means that an ```int``` can be used as an immutable key in a ```dict```:

In [27]:
mapping = {1: 'one', 3: 'three', 5: 'five'}

In [28]:
variables()

                Type Size/Shape                              Value
Instance Name
number_1         int                                             1
number_2       float                                           1.0
number_3       float                                      100000.0
mapping         dict          3  {1: 'one', 3: 'three', 5: 'five'}

In [29]:
mapping[1]

'one'

The ```__index__``` datamodel method is also not ```None``` which means it can be used to index into a ```Collection```:

In [30]:
int.__index__ == None

False

If a ```Collection``` such as a ```str``` is used:

In [31]:
greeting = 'hello'

In [32]:
view(greeting)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 1      	 h
1 	 str                  	 1      	 e
2 	 str                  	 1      	 l
3 	 str                  	 1      	 l
4 	 str                  	 1      	 o

Notice that the index consists of ```int``` instances and the character ```'h'``` can be selected using:

In [33]:
greeting[0]

'h'

The respective operator for each datamodel identifier can be examined using ```help```. Notice the return value shows the operator preferentially used:

In [34]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

If the following ```int``` instances are instantiated:

In [35]:
one = 1
two = 2

In [36]:
del greeting, mapping, number_1, number_2, number_3
variables()

              Type Size/Shape Value
Instance Name
one            int                1
two            int                2

For the following datamodel method:

If the example datamodel method ```__sub__``` is used, the ```help``` output is:

```python
  __sub__(self, value, /)
      Return self-value.
```

Recall that a datamodel method can be called from the int class, when done so it requires the ```int``` instance ```self```, in this case ```one```. Because this is a binary datamodel method, carrying out a numeric operation between two numeric values, a second ```int``` instance ```value``` is required, in this case ```two```. Therefore the datamodel method can be used explicitly:

In [37]:
int.__sub__(one, two)

-1

When the method is instead called from an instance ```self``` is implied and therefore only ```value``` is required as an input argument:

In [38]:
one.__sub__(two)

-1

However it is more common to use the operator:

In [39]:
one - two

-1

Recall that the datamodel method is used in the class to define the behaviour of the operator but the operator is preferentially used when working with instances of the class.

Use of the operator also has the advantage that it can be used directly with numbers as there is no confusion with the dot ```.``` used to denote a decimal point in a ```Number``` or dot identifier accessing from an instance name:

In [40]:
1 - 2

-1

Generally spacing is used around an operator to emphasise the operator and to emphasis that the two instances around it are numeric:

In [41]:
result_1 = 1 - 2
result_2 = 3.14 - 2
result_3 = (1.1+2j) - 2

Notice that the ```-``` operator allowed the ```int``` instance to work with the other ```Numeric``` classes, ```float``` and ```complex```. Because the ```int``` class is the most basic, it is essentially cast into an instance of the other class before carrying out an operation. When dealing with a ```float``` or ```complex``` class there are often recursive rounding errors, which is why the values for ```result_1``` and ```result_2``` have lots of trailing zeros or nines. This is discussed in detail in the next tutorial and not applicable for an operation between two ```int``` instances:

In [42]:
variables()

                  Type Size/Shape                     Value
Instance Name
one                int                                    1
two                int                                    2
result_1           int                                   -1
result_2         float                   1.1400000000000001
result_3       complex             (-0.8999999999999999+2j)

In a function call, spacing is instead used to visually separate out the input parameters and therefore spacing is not used around the operators:

In [43]:
print(1-2, 3.14-2, (1.1+2j)-2, sep='\t', end='\n')

-1	1.1400000000000001	(-0.8999999999999999+2j)

Many of the binary datamodel methods have a reverse operator which can be used explicitly:

In [44]:
one.__rsub__(two)

1

Which (from the perspective of ```one```) is:

In [45]:
two - one

1

The reverse operator is not commonly used directly for interactions between two ```Numeric``` instances. However it is important when a binary operator is used between two different classes that have different behaviour for the operator. For example an ```int``` instance is used to replicate a ```Collection``` such as a ```str```:

In [46]:
'Hello' * 2

'HelloHello'

Behind the scenes, this searches for the instructions from the datamodel method defined in the class of the instance ```self``` which in this case is ```'Hello'``` and therefore the definition of ```__mul__``` is looked for in the ```str``` class:

In [47]:
'Hello'.__mul__(two), two.__rmul__('Hello')

('HelloHello', NotImplemented)

When the following is used:

In [48]:
2 * 'Hello'

'HelloHello'

Behind the scenes, this searches for the instructions from the datamodel method defined in the class of the instance ```self``` which in this case is ```two``` and therefore the definition of ```__mul__``` is looked for in the ```int``` class which is not defined. Because it is not defined, it looks for the definition ```__rmul__``` in the instance ```value``` which in this case is the instance ```'hello'``` and is defined in the ```str``` class:

In [49]:
two.__mul__('Hello'), 'Hello'.__rmul__(two)

(NotImplemented, 'HelloHello')

## Fraction Based Identifiers

The ```int``` class is setup for compatibility with other numeric datatypes. An ```int``` is a whole number and any whole number can be expressed as a fraction:

In [50]:
number_1 = 2

$$\text{number\_1} = \frac{\text{numerator}}{\text{denominator}} = \frac{2}{1}$$

Therefore the ```numerator``` attribute will equal the value of the ```int``` itself and the ```denominator``` attribute is a class attribute that has a constant value of ```1```:

In [51]:
number_1.numerator

2

In [52]:
number_1.denominator

1

This allows the ```int``` class to have numeric compatibility with the ```Fraction``` class. For example:

In [53]:
from fractions import Fraction

In [54]:
number_2 = Fraction(numerator=3, denominator=2)

In [55]:
del result_1, result_2, result_3
variables()

                   Type Size/Shape Value
Instance Name
one                 int                1
two                 int                2
number_1            int                2
number_2       Fraction              3/2

In [56]:
number_1 + number_2

Fraction(7, 2)

The method ```int.as_integer_ratio``` returns the tuple in the form ```(numerator, denominator)```:

In [57]:
number_1.as_integer_ratio?

Signature: number_1.as_integer_ratio()
Docstring:
Return a pair of integers, whose ratio is equal to the original int.

The ratio is in lowest terms and has a positive denominator.

>>> (10).as_integer_ratio()
(10, 1)
>>> (-10).as_integer_ratio()
(-10, 1)
>>> (0).as_integer_ratio()
(0, 1)
Type:      builtin_function_or_method

In [58]:
number_1.as_integer_ratio()

(2, 1)

## Complex Based Identifiers

An ```int``` is a rational number meaning it only has a real component and no imaginary component. Its ```real``` attribute will therefore always equal the value of the ```int``` instance and its ```imag``` attribute is a class attribute which has a value of ```0```. Recall that a class attribute is defined in the clas and is constant for every instance of the ```int``` class:

In [59]:
number_1.real

2

In [60]:
number_1.imag

0

This allows the ```int``` class to have intercompatibility with the ```complex``` class for example:

In [61]:
number_3 = complex(real=4, imag=-2)

In [62]:
variables()

                   Type Size/Shape   Value
Instance Name
one                 int                  1
two                 int                  2
number_1            int                  2
number_2       Fraction                3/2
number_3        complex             (4-2j)

The formal representation for the complex number shows the shorthand way to initialise the complex number:

In [63]:
number_3 = (4-2j)

In [64]:
number_1 + number_3

(6-2j)

The ```Numeric``` method ```conjugate``` returns the complex conjugate of a number, the conjugate has the same ```real``` attribute and the ```imag``` attributes sign is reversed. Because the imaginary component is ```0``` for an ```int``` instance this returns the ```int``` instance unchanged:

In [65]:
number_1.conjugate?

Docstring: Returns self, the complex conjugate of any int.
Type:      builtin_function_or_method

In [66]:
number_1.conjugate()

2

In [67]:
number_3.conjugate()

(4+2j)

## Object Based Datamodel Identifiers

Recall that the following datamodel identifiers follow the design pattern of the ```object``` base class:

|Datamodel Identifier|Builtins Identifier|Builtins Identifier Type|Description|
|---|---|---|---|
|\_\_new\_\_|||constructs the instance self|
|\_\_init\_\_|||initialise an instance with instance data (automatically invoked by \_\_new\_\_)|
|\_\_doc\_\_|?|operator|view the docstring or initialisation signature docstring if a class|
|\_\_class\_\_|type|class|display the class type of an instance|
|\_\_dir\_\_|dir|function|list the directory of identifiers|
|\_\_repr\_\_|repr|function|formal str representation|
|\_\_str\_\_|str|class|informal str representation|
|\_\_hash\_\_|hash|function|hash value if immutable, if mutable \_\_hash\_\_ = None and the hash function cannot be used|
|\_\_getattribute\_\_|getattr|function|access an attribute (immutable)|
|\_\_setattr\_\_|setattr|function|set an attribute (mutable)|
|\_\_delattr\_\_|delattr|function|delete an attribute (mutable)|
|\_\_eq\_\_|==|operator|check if self is equal to value|
|\_\_ne\_\_|!=|operator|check if self is not equal to value|
|\_\_lt\_\_|<|operator|check if self is less than value|
|\_\_le\_\_|<=|operator|check if self is less than or equal to value|
|\_\_gt\_\_|>|operator|check if self is greater than value|
|\_\_ge\_\_|>=|operator|check if self is greater than or equal to value|
|\_\_sizeof\_\_|sys.sizeof|function|check the size of the instance in bytes|

The identifiers used by the pickle module or for subclassing are not mentioned here and were covered in the previous tutorial on the ```object``` class.

The formal ```__repr__``` string and informal ```__str__``` string datamodel methods of the ```int``` class return a ```str``` of the ```int```. As there are no escape characters, the ```str``` instances returned are identical:

In [68]:
repr(number_1)

'2'

In [69]:
str(number_1)

'2'

The ```__format__``` method is used with the ```str``` method ```format``` to create formatted strings. The formatted string has a ```{ }``` as a placeholder and this placeholder can contain a colon  ```:``` which serves to separate the ```int``` instance being inserted with its format specifier. For the ```int```, the format specifier decimal ```d``` is usually used and can be prefixed with an integer. The integer prefix specifies the number of characters to use for the integer variable in the formatted ```str``` and if there is a ```0``` prefix, trailing zeros will display:

In [70]:
f'The number is {number_1}'

'The number is 2'

In [71]:
f'The number is {number_1:d}'

'The number is 2'

In [72]:
f'The number is {number_1:3d}'

'The number is   2'

In [73]:
f'The number is {number_1:03d}'

'The number is 002'

In [74]:
f'The number is {number_1: 03d}'

'The number is  02'

The datamodel method ```__sizeof__``` is defined and returns size of the ```int``` instance in memory. This defines the behaviour of ```sys.getsizeof```:

In [75]:
import sys
sys.getsizeof(number_1)

28

## Comparison Operators

Because an ```int``` is ordinal, the six comparison operators are setup:

In [76]:
one < two

True

In [77]:
one <= two

True

In [78]:
one == two

False

In [79]:
one >= two

False

In [80]:
one > two

False

In [81]:
one != two

True

Because an ```int``` instance is immutable:

In [82]:
two

2

In [83]:
2

2

In [84]:
two == 2

True

Any ```int``` with equal value also has the same identification:

In [85]:
variables(show_id=True)

                   Type Size/Shape   Value             ID
Instance Name
one                 int                  1  1472204357040
two                 int                  2  1472204671184
number_1            int                  2  1472204674208
number_2       Fraction                3/2  1472204674496
number_3        complex             (4-2j)  1472204674448

In [86]:
id(2)

140727149664728

## Numeric Operator Datamodel Identifiers

The ```int``` class has the following additional datamodel methods:

|Data Model Identifier|Function or Class|Description|
|---|---|---|
|\_\_bool\_\_|builtins.bool|unitary cast to boolean|
|\_\_int\_\_|builtins.float|unitary cast to integer|
|\_\_float\_\_|builtins.float|unitary cast to floating point number|
|\_\_pos\_\_|+|unitary positive|
|\_\_neg\_\_|-|unitary negative|
|\_\_abs\_\_|builtins.abs|unitary absolute value|
|\_\_invert\_\_|~|unitary twos complement (bitwise)|
|\_\_round\_\_|builtins.round|unitary round to nearest integer|
|\_\_floor\_\_|math.floor|unitary floor integer|
|\_\_ceil\_\_|math.ceil|unitary ceiling integer|
|\_\_trunc\_\_|math.trunc|unitary truncate to integer|
|\_\_index\_\_|collection[int]|index into collection using value| 
|\_\_add\_\_|+|binary add|
|\_\_sub\_\_|-|binary subtract|
|\_\_mul\_\_|*|binary multiply|
|\_\_pow\_\_|**|binary raise to power of|
|\_\_floordiv\_\_|//|binary integer division value|
|\_\_mod\_\_|%|binary integer division modulus|
|\_\_divmod\_\_|builtins.divmod|binary integer division (value, modulus)|
|\_\_truediv\_\_|/|binary float division|
|\_\_and\_\_|&|binary and (bitwise)|
|\_\_or\_\_|\||binary or (bitwise)|
|\_\_xor\_\_|\^|binary exclusive or (bitwise)|
|\_\_lshift\_\_|<<|binary leftshift (bitwise)|
|\_\_rshift\_\_|>>|binary rightshift (bitwise)|
|\_\_getnewargs\_\_| |helper function for pickle|  
  
The 14 binary operators have a reverse equivalent, for example multiplication ```__mul__``` has reverse multiplication ```__rmul__```. The former computes ```self * value``` and the latter computes ```value * self```.

## Type Casting Datamodel Methods

The ```__bool__```, ```__int__``` and ```__float__``` control the behaviour of the ```builtins``` classes ```bool```, ```int``` and ```float``` respectively when used with an ```int``` instance. 

The ```bool``` class has two values ```False``` and ```True``` which map to ```0``` and ```1``` respectively. An ```int``` of ```0``` and an ```int``` of ```1``` can be cast into a ```bool```:

In [87]:
bool(0)

False

In [88]:
bool(1)

True

Any other additional value of ```int``` is assumed to be non-zero and therefore returns the boolean ```True```:

In [89]:
bool(2)

True

In [90]:
bool(-2)

True

The ```float``` class casts an ```int``` instance into a ```float``` instance:

In [91]:
float(2)

2.0

Notice the decimal point in the cell output indicating a ```float``` instance.

Using the ```int``` class on an existing ```int``` instance will return the same ```int``` instance:

In [92]:
int(2)

2

## Rounding Datamodel Methods

The ```int``` class follows the ```Number``` design pattern and has the rounding functions ```__round__```, ```__floor__```, ```__ceil__``` and ```__trunc__```. These are rounding functions typically round a ```Number``` to an ```int``` instance and therefore for an ```int``` instance ```return``` the ```int``` instance unchanged. These will be discussed in more detail in the next tutorial which discusses the ```float``` class.

## Unitary Datamodel Operators

A unitary operator only requires use of a single ```int``` instance. For example the ```__pos__``` and ```__neg__``` unitary operators return the positive and negative version of the ```int``` instance:

In [93]:
+4

4

In [94]:
-4

-4

The ```__abs__``` function controls the behaviour of the ```abs``` function which returns the number with the sign stripped:

In [95]:
abs(-4)

4

In [96]:
abs(4)

4

## Binary Datamodel Operators

A binary operator is used between the instance ```self``` and the instance ```value```. These are normally instances of the same class. For example:

In [97]:
one + two

3

The ```int``` instances can also be used directly:

In [98]:
1 + 2

3

Compare the subtle difference between the above and:

In [99]:
+5

5

The former is a binary operator carrying out a function between two instances and is defined by the ```__add__``` datamodel method and the later is a unitary operator involving only a single instance ```__pos__```. These datamodel identifiers uses the same operator ```+``` and return the addition of the two instances and the positive value of the single instances respectively.

Other binary operators can be examined for example subtraction:

In [100]:
5 - 3

2

Multiplication:

In [101]:
5 * 3

15

Raising the power to:

In [102]:
2 ** 4

16

Integer division and modulus:

In [103]:
whole = 7 // 3

In [104]:
modulo = 7 % 3

In [105]:
del number_1, number_2, number_3
variables()

              Type Size/Shape Value
Instance Name
one            int                1
two            int                2
whole          int                2
modulo         int                1

Which means:

In [106]:
3 * whole + modulo

7

```divmod``` returns a 2 element ```tuple``` of these two values:

In [107]:
divmod(7, 3)

(2, 1)

And the negative is brought down to the floor:

In [108]:
whole = -7 // 3

In [109]:
modulo = -7 % 3

In [110]:
variables()

              Type Size/Shape Value
Instance Name
one            int                1
two            int                2
whole          int               -3
modulo         int                2

Which means:

In [111]:
whole * 3 + modulo

-7

And the modulo for a negative number can be thought as being calculated as:

In [112]:
3 - +(7 % 3)

2

There is also true division also known as ```float``` division which always returns a ```float``` instance:

In [113]:
7 / 3

2.3333333333333335

Notice a ```float``` instance is always returned even if the result rounds precisely to an ```int```, this can be seen by the decimal point in the ```return``` value:

In [114]:
4 / 2

2.0

In [115]:
(4 / 2).is_integer()

True

## PEDMAS

PEDMAS is an abbreviation indicating the order of precidence for binary operators:
* 1. Parenthesis ```()```
* 2. Exponentiation ```**```
* 3. Division ```//``` or ```/```
* 3. Multiplication ```*```
* 4. Addition ```-```
* 4. Subtraction ```+```

The number indicates the order of preference:

In [116]:
2 + 1 * 3 ** 2

11

In [117]:
(2 + 1) * 3 ** 2

27

In [118]:
((2 + 1) * 3) ** 2

81

## Bitwise Identifiers

Recall that characters are ordinal:

In [119]:
number_1 = 97
number_2 = 98
number_3 = 945
number_4 = 946

In [120]:
chr(number_1), chr(number_2), chr(number_3), chr(number_4)

('a', 'b', 'α', 'β')

These numbers can be viewed as binary ```str``` instances:

In [121]:
bin(number_1), bin(number_2), bin(number_3), bin(number_4)

('0b1100001', '0b1100010', '0b1110110001', '0b1110110010')

The bitwise and operator ```&``` examines each bit in the instance ```self``` and compares it to the corresponding bit in the instance ```value```. Only if both bits are ```1```, a value of ```1``` is returned, otherwise the bit is ```0```:

In [122]:
print(bin(number_1).removeprefix('0b').zfill(8))
print(bin(number_2).removeprefix('0b').zfill(8))
print()
print(bin(number_1 & number_2).removeprefix('0b').zfill(8))

01100001
01100010

01100000

The number is normally returned as an ```int```:

In [123]:
number_1 & number_2

96

In [124]:
int('01100000', base=2)

96

This operation is commutative:

In [125]:
number_1 & number_2

96

The ```__and__``` datamodel method only defines the behaviour of the ```&``` operator and does not influence the behaviour of the ```and``` keyword. The ```and``` keyword only returns the first value if the first value is ```False``` and otherwise returns the second value. For example:

In [126]:
False and 2

False

In [127]:
True and 2

2

Recall that casting ```0``` to a ```bool``` returns ```False``` and casting any other ```int``` returns ```True```:

In [128]:
bool(0) and 2

False

In [129]:
0 and 2

0

In [130]:
bool(1) and 2

2

In [131]:
1 and 2

2

In [132]:
102 and 2

2

When a ```str``` instance is cast to a ```bool```, the value returned an empty string is ```False``` and  ```True``` otherwise:

In [133]:
'' and 'hello'

''

In [134]:
'notempty' and 'hello'

'hello'

The bitwise or operator ```|``` examines each bit in the instance ```self``` and compares it to the corresponding bit in the instance ```value```. If either bit is ```1```, a value of ```1``` is returned. If both bits are ```0```, the bit returned is ```0```:

In [135]:
print(bin(number_1).removeprefix('0b').zfill(8))
print(bin(number_2).removeprefix('0b').zfill(8))
print()
print(bin(number_1 | number_2).removeprefix('0b').zfill(8))

01100001
01100010

01100011

In [136]:
number_1 | number_1

97

The ```__or__``` datamodel method only defines the behaviour of the ```|``` operator and does not influence the behaviour of the ```or``` keyword. The ```or``` keyword only returns the second value if the first value is ```False``` and otherwise returns the second value. For example:

In [137]:
0 or 2

2

In [138]:
1 or 2

1

In [139]:
'' or 'hello'

'hello'

In [140]:
'notempty' or 'hello'

'notempty'

The bitwise ```xor``` operator ```^``` examines each bit in the instance ```self``` and compares it to the corresponding bit in the instance ```value```. If the two bits differ ```1``` is returned, if they match ```0``` is returned:

In [141]:
print(bin(number_1).removeprefix('0b').zfill(8))
print(bin(number_2).removeprefix('0b').zfill(8))
print()
print(bin(number_1 ^ number_2).removeprefix('0b').zfill(8))

01100001
01100010

00000011

In [142]:
number_1 ^ number_2

3

The ```bit_length```, will return the number of bits being used by a number, excluding leading-zeros:

In [143]:
print(bin(number_1).removeprefix('0b').zfill(8))

01100001

In [144]:
number_1.bit_length()

7

The ```bit_count```, will count how many of these are zero, in the above three values are non-zero:

In [145]:
number_1.bit_count()

3

The effect of the right shift operator controlled by the datamodel identifier ```__rshift__``` can be visualised in binary. It effectively removes the last bit, appearing to move the rest ot the number right:

In [146]:
print(bin(number_3).removeprefix('0b').zfill(16))
print(bin(number_3 >> 1).removeprefix('0b').zfill(16))
print(bin(number_3 >> 2).removeprefix('0b').zfill(16))

0000001110110001
0000000111011000
0000000011101100

The effect of the left shift operator controlled by the data model identifier ```__lshift__``` can be visualised, it effectively adds a bit of ```0``` to the end, shifting the rest of the binary number left:

In [147]:
print(bin(number_3).removeprefix('0b').zfill(16))
print(bin(number_3 << 1).removeprefix('0b').zfill(16))
print(bin(number_3 << 2).removeprefix('0b').zfill(16))

0000001110110001
0000011101100010
0000111011000100

The ```int``` class has a method ```to_bytes```, which can be used to convert an ```int``` instance to a ```bytes``` instance with a specified length:

In [148]:
int.to_bytes?

Signature: int.to_bytes(self, /, length=1, byteorder='big', *, signed=False)
Docstring:
Return an array of bytes representing an integer.

length
  Length of bytes object to use.  An OverflowError is raised if the
  integer is not representable with the given number of bytes.  Default
  is length 1.
byteorder
  The byte order used to represent the integer.  If byteorder is 'big',
  the most significant byte is at the beginning of the byte array.  If
  byteorder is 'little', the most significant byte is at the end of the
  byte array.  To request the native byte order of the host system, use
  `sys.byteorder' as the byte order value.  Default is to use 'big'.
signed
  Determines whether two's complement is used to represent the integer.
  If signed is False and a negative integer is given, an OverflowError
  is raised.
Type:      method_descriptor

For example, the character ```number_1```:

In [149]:
print(bin(number_1).removeprefix('0b'))

1100001

Has a bit length of:

In [150]:
number_1.bit_length()

7

As 8 bits are in a byte, only 1 byte is required which in this case is the character ```'a'``` which has a hexadecimal value of ```61```:

In [151]:
bytes_1 = number_1.to_bytes()

In [152]:
bytes_1.hex()

'61'

If the ```int``` instance ```number_3``` is examined:

In [153]:
print(bin(number_3).removeprefix('0b'))

1110110001

It has a bit length of:

In [154]:
number_3.bit_length()

10

Since 8 bits are in a byte this requires a length of ```2``` bytes:

In [155]:
bytes_3 = number_3.to_bytes(length=2)

In [156]:
bytes_3.hex()

'03b1'

This can optionally be little endian:

In [157]:
bytes_3_le = number_3.to_bytes(length=2, byteorder='little')

In [158]:
bytes_3_le.hex()

'b103'

The ```int.from_bytes``` is a class method, which is bound to the ```int``` class and returns a new ```int``` instance. It essentially does the reverse of the ```int.to_bytes``` method:

In [159]:
int.from_bytes?

Signature: int.from_bytes(bytes, byteorder='big', *, signed=False)
Docstring:
Return the integer represented by the given array of bytes.

bytes
  Holds the array of bytes to convert.  The argument must either
  support the buffer protocol or be an iterable object producing bytes.
  Bytes and bytearray are examples of built-in objects that support the
  buffer protocol.
byteorder
  The byte order used to represent the integer.  If byteorder is 'big',
  the most significant byte is at the beginning of the byte array.  If
  byteorder is 'little', the most significant byte is at the end of the
  byte array.  To request the native byte order of the host system, use
  `sys.byteorder' as the byte order value.  Default is to use 'big'.
signed
  Indicates whether two's complement is used to represent the integer.
Type:      builtin_function_or_method

The ```bytes``` instances can be converted back into an ```int``` using this method, since ```bytes_3_le``` is little endian ```byteorder='little'```:

In [160]:
int.from_bytes(bytes_3)

945

In [161]:
int.from_bytes(bytes_1)

97

In [162]:
int.from_bytes(bytes_3_le, byteorder='little')

945

The bitwise complement has the general formula:

$$\sim x = -x - 1$$

In [163]:
~20

-21

In [164]:
20 - 21

-1

In [165]:
~-21

20

The twos complement is used for signed bits. Recall that there are 8 bits in a byte. If the byte is unsigned the values range between ```0:256```, when the byte is signed the values instead range between ```-128:127```. The configuration of bits for ```0:127``` is the same for unsigned and unsigned bytes:

In [166]:
bin(20)

'0b10100'

If all 8 bits are viewed:

In [167]:
print(bin(20).removeprefix('0b').zfill(8))

00010100

To get the two complements all the bits in the byte are inverted:

In [168]:
'11101011'

'11101011'

And then ```'1'``` is added:

In [169]:
'11101100'

'11101100'

The ```bin``` function does not ```return``` this representation as it is not clear whether the byte is unsigned or signed. Instead it uses the prefix ```-0b``` alongside the positive value of the two complement:

In [170]:
bin(~20)

'-0b10101'

[Return to Python Tutorials](../readme.md)