# Builtins Module: The List Class (list)

The ```list``` class is the mutable counterpart to the ```tuple```.

## Categorize_Identifiers Module

This notebook will use the following functions ```dir2```, ```variables``` and ```view``` in the custom module ```categorize_identifiers``` which is found in the same directory as this notebook file. ```dir2``` is a variant of ```dir``` that groups identifiers into a ```dict``` under categories and ```variables``` is an IPython based a variable inspector. ```view``` is used to view a ```Collection``` in more detail:

In [1]:
from categorize_identifiers import dir2, variables, view

## Initialisation Signature

Recall that a ```tuple``` is an immutable ```Collection``` where the fundamental unit is a reference to an ```object```:

In [2]:
object1 = object()
object2 = object()
object3 = object()
object4 = object()
object5 = object()

In [3]:
archive = (object1, object2, object3, object4, object5)

In [4]:
view(archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>

A ```list``` is the mutable counterpart to the ```tuple``` and instantiated in a similar way using ```[]``` opposed to parenthesis ```()```:

In [5]:
active_archive = [object1, object2, object3, object4, object5]

In [6]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>

The initialisation signature of a ```list``` is generally used for type casting:

In [7]:
list?

Init signature: list(iterable=(), /)
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
Type:           type
Subclasses:     _List, _HashedSeq, StackSummary, _Threads, ConvertingList, DeferredConfigList, _ymd, _Accumulator, SList, _ImmutableLineList, ...

A ```list```, like a ```tuple``` is instantiated from an iterable. For example a ```list``` can be cast from the ```tuple``` instance ```archive```:

In [8]:
list(archive)

[<object at 0x1e6f656c5e0>,
 <object at 0x1e6f656c590>,
 <object at 0x1e6f656c600>,
 <object at 0x1e6f656c610>,
 <object at 0x1e6f656c620>]

Or the ```str``` instance ```'hello'```:

In [9]:
list('hello')

['h', 'e', 'l', 'l', 'o']

A ```list``` instance can be instantiated using square brackets:

In [10]:
empty_active_archive = []

In [11]:
single_element_active_archive = ['hello']

In [12]:
multiple_element_active_archive = [1, True, 3.14, 'hello', b'hello', bytearray(b'hello')]

In [13]:
variables()

,Type,Size/Shape,Value
Instance Name,,,
archive,tuple,5,"(<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>)"
active_archive,list,5,"[<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>]"
empty_active_archive,list,0,[]
single_element_active_archive,list,1,['hello']
multiple_element_active_archive,list,6,"[1, True, 3.14, 'hello', b'hello', bytearray(b'hello')]"

Square brackets can be used to create an empty ```list``` and for a 1 element ```list```, there is no need for a trailing comma as there is no confusion with parenthesis like in the case of a ```tuple```:

The square brackets ```[ ]``` are also used in Python for indexing and slicing. Generally there is no confusion with regards to the terminology. For example the third index (zero-order indexing) from the ```list``` above can be accessed using:

In [14]:
[1, True, 3.14, 'hello', b'hello', bytearray(b'hello')][2]

3.14

The syntax below should be clear, the left hand side square brackets are used to enclose the contents in the ```list``` and the right hand square brackets are used to index into the ```list``` rerieving the 3rd element (zero-order indexing):

In [15]:
[1, 2, 3][2]

3

## Identifiers

The immutable counterpart has a ```___hash__``` identifier that was not ```None``` meaning it is hashable and all its methods are mutable with a ```return``` value. The mutable counterpart on the other hand has a ```__hash__``` identifier that is ```None``` meaning it cannot be hashed and some of its methods modify the instance in place without a ```return``` value:

In [16]:
tuple.__hash__ == None

False

In [17]:
list.__hash__ == None

True

As the ```list``` is the mutable counterpart to the ```tuple``` it has consistent immutable methods:

In [18]:
dir2(list, tuple, consistent_only=True)

{'method': ['count', 'index'],
 'datamodel_attribute': ['__doc__', '__hash__'],
 'datamodel_method': ['__add__',
                      '__class__',
                      '__class_getitem__',
                      '__contains__',
                      '__delattr__',
                      '__dir__',
                      '__eq__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getitem__',
                      '__getstate__',
                      '__gt__',
                      '__init__',
                      '__init_subclass__',
                      '__iter__',
                      '__le__',
                      '__len__',
                      '__lt__',
                      '__mul__',
                      '__ne__',
                      '__new__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__rmul__',
                      '__setattr__',
                      '__sizeof__',
                      '__str__',
                      '__subclasshook__']}

It also has the following mutable methods:

In [19]:
dir2(list, tuple, unique_only=True)

{'method': ['append',
            'clear',
            'copy',
            'extend',
            'insert',
            'pop',
            'remove',
            'reverse',
            'sort'],
 'datamodel_method': ['__delitem__',
                      '__iadd__',
                      '__imul__',
                      '__reversed__',
                      '__setitem__']}

Recall the ```bytes``` and ```bytearrays``` are also immutable and mutable counterparts. If the mutable identifiers in the ```bytearray``` as examined, notice the consistency with the ```list```:

In [20]:
bytes.__hash__ == None

False

In [21]:
bytearray.__hash__ == None

True

In [22]:
dir2(bytearray, bytes, unique_only=True)

{'method': ['append',
            'clear',
            'copy',
            'extend',
            'insert',
            'pop',
            'remove',
            'reverse'],
 'datamodel_method': ['__alloc__',
                      '__delitem__',
                      '__iadd__',
                      '__imul__',
                      '__release_buffer__',
                      '__setitem__']}

This is because the ```list``` and ```bytearray``` are both follow the design pattern of a ```MutableCollection```.

## Mutatable Methods

The ```list``` is the mutable counterpart to the immutable ```tuple```. Both follow the design pattern of a ```Collection``` and have a fundamental unit that is a reference to an ```object```:

In [23]:
del empty_active_archive, single_element_active_archive, multiple_element_active_archive
variables()

,Type,Size/Shape,Value
Instance Name,,,
archive,tuple,5,"(<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>)"
active_archive,list,5,"[<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>]"

In [24]:
view(archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>

In [25]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>

Both the ```tuple``` and ```list``` have the immutable method ```__getitem__``` (*dunder getitem*) and a reference to an ```object``` can be accessed from its numeric index:

In [26]:
archive[1]

In [27]:
active_archive[1]

However only the ```list``` has the mutable methods ```__setitem__``` (*dunder setitem*) and ```__delitem__``` (*dunder delitem*). This means it is possible to index into a ```list``` and replace a reference to an ```object``` with a new reference or to use ```del``` to delete the reference:

In [28]:
active_archive[1] = object() # Mutable

In [29]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C680>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>

In [30]:
del active_archive[1] # Mutable

In [31]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C600>
2 	 object               	 1      	 <object object at 0x000001E6F656C610>
3 	 object               	 1      	 <object object at 0x000001E6F656C620>

Notice the object that was at index ```1``` has been deleted. All other objects that had a lower index are shunted down by ```1```. The ```list``` now has a length of ```4```.

Recreating the ```list``` instance ```active``` from the ```tuple``` instance ```archive```:

In [32]:
active_archive = list(archive)

The ```+``` operator performs concatenation in a ```Collection``` returning a new concatenated ```Collection```. This is defined by the addition datamodel method ```__add__``` (*dunder add*):

In [33]:
archive + (str(), str()) # Return value

(<object at 0x1e6f656c5e0>,
 <object at 0x1e6f656c590>,
 <object at 0x1e6f656c600>,
 <object at 0x1e6f656c610>,
 <object at 0x1e6f656c620>,
 '',
 '')

In [34]:
active_archive + [str(), str()] # Return value

[<object at 0x1e6f656c5e0>,
 <object at 0x1e6f656c590>,
 <object at 0x1e6f656c600>,
 <object at 0x1e6f656c610>,
 <object at 0x1e6f656c620>,
 '',
 '']

There is a subtle difference with the ```+=``` operator which performs "inplace" concatenation for the mutable ```list``` and uses the mutable datamodel method ```__iadd__``` (*dunder iadd*). This mutates the original instance inplace and therefore the ```list``` has the same id before and after the inplace concatenation. For the immutable ```tuple``` there are two operations concatenation which returns a new instance and then reassignment of the instance name to the new instance. Because reassignment is used to a new instance, the ID changes after the "inplace" operator is used:

In [35]:
variables(show_id=True)

,Type,Size/Shape,Value,ID
Instance Name,,,,
archive,tuple,5,"(<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>)",2091507843120
active_archive,list,5,"[<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>]",2091507843360

In [36]:
archive += (str(), str())

In [37]:
active_archive += [str(), str()]

In [38]:
variables(show_id=True)

,Type,Size/Shape,Value,ID
Instance Name,,,,
archive,tuple,7,"(<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>, ...",2091467248432
active_archive,list,7,"[<object object at 0x000001E6F656C5E0>, <object object at 0x000001E6F656C590>, <object object at 0x000001E6F656C600>, <object object at 0x000001E6F656C610>, <object object at 0x000001E6F656C620>, ...",2091506724400

The mutated ```list``` can be viewed:

In [39]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>
5 	 str                  	 0
6 	 str                  	 0

The mutable ```list``` method ```append```, appends a reference to a single ```object``` at the end of a ```list```:

In [40]:
active_archive.append(bytes()) # No return value

In [41]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>
5 	 str                  	 0
6 	 str                  	 0
7 	 bytes                	 0      	 b''

If this object is a ```Collection``` such as a ```tuple```, the reference will be appended as a single element, that appears to be nested:

In [42]:
active_archive.append(('a', 'b', 'c')) # No return value

The mutated ```list``` can then be viewed:

In [43]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>
5 	 str                  	 0
6 	 str                  	 0
7 	 bytes                	 0      	 b''
8 	 tuple                	 3      	 ('a', 'b', 'c')

The list mutable method ```extend``` will instead extend a ```list``` using the contents of a ```Collection```:

In [44]:
active_archive.extend((1, 2, 3)) # No return value

The mutated ```list``` can be viewed:

In [45]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 object               	 1      	 <object object at 0x000001E6F656C600>
3 	 object               	 1      	 <object object at 0x000001E6F656C610>
4 	 object               	 1      	 <object object at 0x000001E6F656C620>
5 	 str                  	 0
6 	 str                  	 0
7 	 bytes                	 0      	 b''
8 	 tuple                	 3      	 ('a', 'b', 'c')
9 	 int                  	 1      	 1
10 	 int                  	 1      	 2
11 	 int                  	 1      	 3

The mutable ```list``` method ```insert``` can be used to insert a reference to a single object at a specific index behaving similarly to ```append```. Any references that are at this index and later indexes get shunted up by ```1```:

In [46]:
active_archive.insert(2, ('d', 'e', 'f')) # No return value

The mutated ```list``` can then be viewed:

In [47]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 tuple                	 3      	 ('d', 'e', 'f')
3 	 object               	 1      	 <object object at 0x000001E6F656C600>
4 	 object               	 1      	 <object object at 0x000001E6F656C610>
5 	 object               	 1      	 <object object at 0x000001E6F656C620>
6 	 str                  	 0
7 	 str                  	 0
8 	 bytes                	 0      	 b''
9 	 tuple                	 3      	 ('a', 'b', 'c')
10 	 int                  	 1      	 1
11 	 int                  	 1      	 2
12 	 int                  	 1      	 3

The mutable ```list``` method ```remove``` can be used to ```remove``` the first reference to a value:

In [48]:
active_archive.remove('') # No return value

The mutated ```list``` can be viewed:

In [49]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 tuple                	 3      	 ('d', 'e', 'f')
3 	 object               	 1      	 <object object at 0x000001E6F656C600>
4 	 object               	 1      	 <object object at 0x000001E6F656C610>
5 	 object               	 1      	 <object object at 0x000001E6F656C620>
6 	 str                  	 0
7 	 bytes                	 0      	 b''
8 	 tuple                	 3      	 ('a', 'b', 'c')
9 	 int                  	 1      	 1
10 	 int                  	 1      	 2
11 	 int                  	 1      	 3

The order of the elements in the ```list``` can be sorted using their ordinal value with the ```list``` mutable method ```sort```. This method requires a ```list``` instance where each element is ordinal:

In [50]:
text_active_archive = list('AaBbCcDdEe')

In [51]:
view(text_active_archive)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 1      	 A
1 	 str                  	 1      	 a
2 	 str                  	 1      	 B
3 	 str                  	 1      	 b
4 	 str                  	 1      	 C
5 	 str                  	 1      	 c
6 	 str                  	 1      	 D
7 	 str                  	 1      	 d
8 	 str                  	 1      	 E
9 	 str                  	 1      	 e

In [52]:
text_active_archive.sort()

In [53]:
view(text_active_archive)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 1      	 A
1 	 str                  	 1      	 B
2 	 str                  	 1      	 C
3 	 str                  	 1      	 D
4 	 str                  	 1      	 E
5 	 str                  	 1      	 a
6 	 str                  	 1      	 b
7 	 str                  	 1      	 c
8 	 str                  	 1      	 d
9 	 str                  	 1      	 e

In [54]:
for char in text_active_archive:
    print(ord(char), char)

65 A
66 B
67 C
68 D
69 E
97 a
98 b
99 c
100 d
101 e

The order of elements in a ```list``` instance can be reversed in a ```list``` by using the mutable ```list``` method ```reverse```:

In [55]:
text_active_archive.reverse() # No return method

In [56]:
view(text_active_archive)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 1      	 e
1 	 str                  	 1      	 d
2 	 str                  	 1      	 c
3 	 str                  	 1      	 b
4 	 str                  	 1      	 a
5 	 str                  	 1      	 E
6 	 str                  	 1      	 D
7 	 str                  	 1      	 C
8 	 str                  	 1      	 B
9 	 str                  	 1      	 A

The mutable ```list``` method ```clear``` will clear all the references in the ```list``` instance:

In [57]:
text_active_archive.clear() # No return value

The updated empty ```Collection``` of references can be viewed:

In [58]:
view(text_active_archive)

Index 	 Type                 	 Size   	 Value

The mutable ```list``` methof ```pop``` is the outlier mutable method that has a ```return``` value. It pops off a reference to a Python ```object``` returning the popped reference and mutating the ```list``` inplace:

In [59]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 tuple                	 3      	 ('d', 'e', 'f')
3 	 object               	 1      	 <object object at 0x000001E6F656C600>
4 	 object               	 1      	 <object object at 0x000001E6F656C610>
5 	 object               	 1      	 <object object at 0x000001E6F656C620>
6 	 str                  	 0
7 	 bytes                	 0      	 b''
8 	 tuple                	 3      	 ('a', 'b', 'c')
9 	 int                  	 1      	 1
10 	 int                  	 1      	 2
11 	 int                  	 1      	 3

The reference to the value popped is returned:

In [60]:
active_archive.pop()

3

The mutated ```list``` can be viewed:

In [61]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 tuple                	 3      	 ('d', 'e', 'f')
3 	 object               	 1      	 <object object at 0x000001E6F656C600>
4 	 object               	 1      	 <object object at 0x000001E6F656C610>
5 	 object               	 1      	 <object object at 0x000001E6F656C620>
6 	 str                  	 0
7 	 bytes                	 0      	 b''
8 	 tuple                	 3      	 ('a', 'b', 'c')
9 	 int                  	 1      	 1
10 	 int                  	 1      	 2

```pop``` by default pops off the last value, however an index can be selected:

In [62]:
active_archive.pop(6)

''

The mutated ```list``` can be viewed:

In [63]:
view(active_archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x000001E6F656C5E0>
1 	 object               	 1      	 <object object at 0x000001E6F656C590>
2 	 tuple                	 3      	 ('d', 'e', 'f')
3 	 object               	 1      	 <object object at 0x000001E6F656C600>
4 	 object               	 1      	 <object object at 0x000001E6F656C610>
5 	 object               	 1      	 <object object at 0x000001E6F656C620>
6 	 bytes                	 0      	 b''
7 	 tuple                	 3      	 ('a', 'b', 'c')
8 	 int                  	 1      	 1
9 	 int                  	 1      	 2

## Mutability and Functions

Supposing the following ```tuple``` is instantiated:

In [64]:
archive1 = ('a', 'b', 'c', 'd')

Functions have their own local scope but can access variables from the global scope. For immutable methods they can only ```return``` a value using their ```return``` statement. The global scope can otherwise not access variables from the local scope.

A function can be created which accesses the immutable ```tuple```, creates a local variable value using concatenation and then has a ```return``` statement that this value:

In [65]:
def fun():
    value = archive1 + ('E', 'F', 'G', 'H')
    return value

If this function is called, the ```return``` value is shown:

In [66]:
fun()

('a', 'b', 'c', 'd', 'E', 'F', 'G', 'H')

And the immutable ```tuple``` is unmodified:

In [67]:
archive1

('a', 'b', 'c', 'd')

Variables assigned in a function are local:

In [68]:
def fun():
    local_variable = (1, 2, 3, 4)

Notice that when the function is called, there is nothing in the cell output as the function has no ```return``` value. When a ```return``` value is not specified, the function will ```return None```:

In [69]:
fun()

This ```local_variable``` cannot be accessed outside the functions local scope. Attempting to do so will result in a ```NameError``` as ```local_variable``` does not exist in the global scope:


```python
local_variable
```

Therefore a function can assign an instance name to an instance in its local scope that already exists in the global scope:

In [70]:
def fun():
    archive1 = ('E', 'F', 'G', 'H')

This function has no ```return``` value:

In [71]:
fun()

The instance name in the global instance is unmodified:

In [72]:
archive1

('a', 'b', 'c', 'd')

If the function tries to access an existing instance name in the global scope and then tries to reassign it in the local scope:

In [73]:
def fun():
    archive1 = archive1 + ('E', 'F', 'G', 'H')

Calling the function will give an ```UnboundLocalError```:

```python
fun()
```

Now supposing the following ```list``` instance is instantiated:

In [74]:
active1 = [1, 2, 3, 4]

The function can access a global instance and uses a mutable method on the global instance:

In [75]:
def fun():
    active1.clear()

The function has no ```return``` value:

In [76]:
fun()

However the global instance will be updated inplace:

In [77]:
active1

[]

Supposing the following ```tuple``` and ```list``` instances are instantiated:

In [78]:
archive1 = ('a', 'b', 'c', 'd')
archive2 = ('e', 'f', 'g', 'h')

active1 = [1, 2, 3, 4]
active2 = [5, 6, 7, 8]

Functions are typically configured to reference an instance from the global scope using input arguments:

In [79]:
def fun(t1):
    value = t1 * 2
    return value

This allows them to be used again and again on different data:

In [80]:
fun(archive1)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [81]:
fun(archive2)

('e', 'f', 'g', 'h', 'e', 'f', 'g', 'h')

In [82]:
fun(active1)

[1, 2, 3, 4, 1, 2, 3, 4]

In [83]:
fun(active2)

[5, 6, 7, 8, 5, 6, 7, 8]

Care needs to be taken if a function is configured to reference a global mutable instance:

In [84]:
def fun(l1):
    l1.clear()

Because the input argument is a local instance name or reference to a global mutable instance, the global mutable instance is mutated:

In [85]:
fun(active1)

In [86]:
active1

[]

When there is no intention to mutate the original instance, a ```copy``` of it can be created in the functions local namespace:

In [87]:
def fun(l1):
    l2 = l1.copy()
    l2.clear()

Calling the function creates a local copy of ```active2``` and mutates it:

In [88]:
fun(active2)

Leaving ```active2``` unchanged:

In [89]:
active2

[5, 6, 7, 8]

Care should be taken when mutable methods are used in a function with a ```return``` value:

In [90]:
def fun(l1):
    popped_val = l1.pop()
    return (popped_val, ) * 3

If ```active2``` is examined:

In [91]:
active2

[5, 6, 7, 8]

Calling the above function will return a ```tuple``` that replicates the popped value 3 times:

In [92]:
fun(active2)

(8, 8, 8)

Notice that ```active2``` is however mutated:

In [93]:
active2

[5, 6, 7]

If instead a ```copy``` is made in the function and that is operated on:

In [94]:
def fun(l1):
    l2 = l1.copy()
    popped_val = l2.pop()
    return (popped_val, ) * 3

The return ```value``` is similar to before:

In [95]:
fun(active2)

(7, 7, 7)

However the mutatable ```list``` supplied as a reference via the functions input argument is not mutated:

In [96]:
active2

[5, 6, 7]

## Advantages of Immutability

Most beginner tutorials tend to overuse the ```list``` class and underuse the ```tuple``` class. Although the ```list``` has some additional functionality due to being mutable, this mutability comes with a number of drawbacks which include:

* Possible unwanted mutability for example the potential unwanted mutating of a global variable within the local scope of a function
* Larger memory overhead
* Slower access due to larger memory overhead

In general a ```tuple``` should preferentially be used instead of a ```list``` when a ```Collection``` is used to group data that is later read in a program and not modified.

An example is the ```return``` statement in a function. This can manually be configured to ```return``` a ```list``` instance:

In [97]:
def fun1():
    return [1, 4]

Or a ```tuple``` instance:

In [98]:
def fun2():
    return (1, 4)

If parenthesis aren't specified, a ```tuple``` will also be returned (as the default ```Collection```) using ```tuple``` unpacking:

In [99]:
def fun3():
    return 1, 4

This can be seen in the ```return``` values of these functions:

In [100]:
fun1()

[1, 4]

In [101]:
fun2()

(1, 4)

In [102]:
fun3()

(1, 4)

Normally the values returned from the function are assigned to variables:

In [103]:
num1, num2 = fun1()

In [104]:
num1

1

In [105]:
num2

4

The same form can be used for ```fun2```:

In [106]:
num1, num2 = fun2()

In [107]:
num1

1

And ```fun3```:

In [108]:
num2

4

In [109]:
num1, num2 = fun3()

In [110]:
num1

1

In [111]:
num2

4

The above syntax creates a ```tuple``` with the two instance names in it:

In [112]:
(num1, num2) = fun1()

Notice the ```tuple``` instance on the left hand side itself is not assigned to an instance name. This is because its only purpose is for a single time use to instantiate the two instance names:

In [113]:
num1

1

In [114]:
num2

4

When the ```enumerate``` class is used on a ```Collection```:

In [115]:
view('hello')

Index 	 Type                 	 Size   	 Value
0 	 str                  	 1      	 h
1 	 str                  	 1      	 e
2 	 str                  	 1      	 l
3 	 str                  	 1      	 l
4 	 str                  	 1      	 o

Each element in it is a ```tuple```, this can be seen by casting to a ```tuple```:

In [116]:
tuple(enumerate('hello'))

((0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o'))

Recall that the ```enumerate``` class is normally used in a ```for``` loop and each element is only used to read data during its specific iteration of the ```for``` loop:

In [117]:
for index, value in enumerate('hello'):
    print(index, value)

0 h
1 e
2 l
3 l
4 o

Since there are two inbuilt ```Collections```, distinguished by two different types of brackets. They are sometimes used to distinguish nested ```Collections``` from the outer ```Collection```:

In [118]:
list(enumerate('hello'))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

[Return to Python Tutorials](../readme.md)