# Builtins Module: The Tuple Class (tuple)

The ```tuple``` class is an immutable ```Collection``` where each unit is a Python ```object```.

## Categorize_Identifiers Module

This notebook will use the following functions ```dir2```, ```variables``` and ```view``` in the custom module ```categorize_identifiers``` which is found in the same directory as this notebook file. ```dir2``` is a variant of ```dir``` that groups identifiers into a ```dict``` under categories and ```variables``` is an IPython based a variable inspector. ```view``` is used to view a ```Collection``` in more detail:

In [1]:
from categorize_identifiers import dir2, variables, view

## Collection Design Pattern

The ```str```, ```bytes``` and ```str``` classes all follow the design pattern of a ```Collection``` however all three classes have a different fundamental unit such as a Unicode ```str```, a byte which is an ```int``` between ```0:256``` and an ```object``` respectively:

In [2]:
view('hello')

Index 	 Type                 	 Size   	 Value
0 	 str                  	 1      	 h
1 	 str                  	 1      	 e
2 	 str                  	 1      	 l
3 	 str                  	 1      	 l
4 	 str                  	 1      	 o

In [3]:
view(b'hello')

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 104
1 	 int                  	 1      	 101
2 	 int                  	 1      	 108
3 	 int                  	 1      	 108
4 	 int                  	 1      	 111

In [4]:
view((object(), object(), object(), object(), object()))

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x0000019F77E1C5F0>
1 	 object               	 1      	 <object object at 0x0000019F77E1C590>
2 	 object               	 1      	 <object object at 0x0000019F77E1C5E0>
3 	 object               	 1      	 <object object at 0x0000019F77E1C600>
4 	 object               	 1      	 <object object at 0x0000019F77E1C610>

Recall that the ```int```, ```bool```, ```float```, ```str``` and ```byte``` classes are all based on the design pattern of an ```object``` and an instance of these classes can therefore be an element in a ```tuple```:

In [5]:
view((2, False, 3.14, 'hello', b'bye'))

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 2
1 	 bool                 	 1      	 False
2 	 float                	 1      	 3.14
3 	 str                  	 5      	 hello
4 	 bytes                	 3      	 b'bye'

In the above the ```tuple``` is seen to have the ability to contain a nested ```Collection``` for example the ```str``` at index ```4```. It can also contain a ```tuple``` as a nested ```Collection```:

In [6]:
view((2, False, 3.14, ('one', 'two', 'three'), b'bye'))

Index 	 Type                 	 Size   	 Value
0 	 int                  	 1      	 2
1 	 bool                 	 1      	 False
2 	 float                	 1      	 3.14
3 	 tuple                	 3      	 ('one', 'two', 'three')
4 	 bytes                	 3      	 b'bye'

Recall that an instance name is used to reference an instance and can be conceptualised as a label that points to an instance:

In [7]:
instance_name = 'hello'

This label is used to select the instance which returns the value of the instance:

In [8]:
instance_name

'hello'

Supposing multiple instances (of different classes) are instantiated to instance names:

In [9]:
instance_str = 'hello'
instance_bytes = b'hello'
instance_bytearray = bytearray(b'hello')
instance_int = 1
instance_bool = True
instance_float = 3.14

The instance names or labels above can be grouped together in a ```Collection``` known as a ```tuple```:

In [10]:
archive = (instance_str, instance_bytes, instance_bytearray, instance_int, instance_bool, instance_float)

The default representation of the ```tuple``` displays the default representation for each Python ```object``` being referenced by the ```tuple``` and not the instance names:

In [11]:
archive

('hello', b'hello', bytearray(b'hello'), 1, True, 3.14)

In [12]:
view(archive)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 5      	 hello
1 	 bytes                	 5      	 b'hello'
2 	 bytearray            	 5      	 bytearray(b'hello')
3 	 int                  	 1      	 1
4 	 bool                 	 1      	 True
5 	 float                	 1      	 3.14

Each index in a ```tuple``` acts as an additional instance name known as an alias. For example index ```0``` is a label to the ```str``` instance with value ```'hello'```:

In [13]:
archive[0]

'hello'

In [14]:
instance_str

'hello'

These instance names or labels reference the same value:

In [15]:
archive[0] == instance_str

True

These instance names or labels reference instances that have the same ID:

In [16]:
id(archive[0]) == id(instance_str)

True

And therefore these instance names or labels reference the same instance:

In [17]:
archive[0] is instance_str

True

The ```tuple``` itself is immutable meaning the archive of references cannot be modified once created:

In [18]:
archive

('hello', b'hello', bytearray(b'hello'), 1, True, 3.14)

Although the ```tuple``` itself is immutable, the instances that the ```tuple``` references can themselves be immutable or mutable:

In [19]:
view(archive)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 5      	 hello
1 	 bytes                	 5      	 b'hello'
2 	 bytearray            	 5      	 bytearray(b'hello')
3 	 int                  	 1      	 1
4 	 bool                 	 1      	 True
5 	 float                	 1      	 3.14

For example, the mutable ```bytearray``` referenced by the ```tuple``` instance ```archive``` at index ```2``` can be appended:

In [20]:
id(archive), id(archive[2])

(1784402925248, 1784443011440)

In [21]:
instance_bytearray.append(33)

In [22]:
id(archive), id(archive[2])

(1784402925248, 1784443011440)

Notice that the id for the ```tuple``` instance archive remains unchanged because the ```tuple``` is unchanged. Notice the id for the ```bytearray``` instance at index ```2``` is also unchanged as the ```tuple``` references the same ```bytearray``` instance. 

The ```tuple``` recall is a ```Collection``` of references to instances; in the case of mutable instances, the instance can be modified but the id to the instance does not change because it is the same instance:

In [23]:
view(archive)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 5      	 hello
1 	 bytes                	 5      	 b'hello'
2 	 bytearray            	 6      	 bytearray(b'hello!')
3 	 int                  	 1      	 1
4 	 bool                 	 1      	 True
5 	 float                	 1      	 3.14

An analogy here would be a collection of website addresses. The links themselves will never change and are immutable:

```markdown
websites = (
    [Python](https://www.python.org/), 
    [NumPy](https://numpy.org/), 
    [Pandas](https://pandas.pydata.org/), 
    [Matplotlib](https://matplotlib.org/)
)
```

However the website owners may update the content on the website. The reference will go to the same website (same id) but the new content will be refreshed.

The ```str``` instance with value ```'hello'``` has two instance names, ```archive[0]``` and ```instance_str``` which are known as alias:

In [24]:
archive[0]

'hello'

In [25]:
instance_str

'hello'

If the label ```instance_str``` is removed and placed on another ```str``` instance with value ```'bye'```, the original instance with value ```'hello'``` is unmodified and the other instance name ```archive[0]``` can continue to be used to reference the original instance:

In [26]:
instance_str = 'bye'

In [27]:
instance_str

'bye'

In [28]:
archive[0]

'hello'

The instance name ```archive[0]``` cannot be reassigned to another instance because the ```tuple``` collection of references is immutable.

The tuple itself has an instance name and id:

In [29]:
archive

('hello', b'hello', bytearray(b'hello!'), 1, True, 3.14)

In [30]:
variables(['archive'], show_id=True)

,Type,Size/Shape,Value,ID
Instance Name,,,,
archive,tuple,6,"('hello', b'hello', bytearray(b'hello!'), 1, True, 3.14)",1784443178096

This instance name can be reassigned to another instance. This time by specifying the values directly at each index:

In [31]:
archive = ('bye', b'bye', bytearray(b'bye'), -1, False, -3.14)

In [32]:
variables(['archive'], show_id=True)

,Type,Size/Shape,Value,ID
Instance Name,,,,
archive,tuple,6,"('bye', b'bye', bytearray(b'bye'), -1, False, -3.14)",1784442779952

In the above the original ```tuple``` instance was not modified as it is immutable. Instead the assignment operation can be conceptualised as taking the instance name ```archive``` and peeling it off the original instance and placing it on the new instance. Finally because the original ```tuple``` instance now has no references it cannot be accessed ans is removed by Pythons garbage collection.

## Initialisation Signature

The intialisation signature of a ```tuple``` can be viewed by inputting:

In [33]:
tuple?

Init signature: tuple(iterable=(), /)
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.
Type:           type
Subclasses:     int_info, float_info, UnraisableHookArgs, hash_info, version_info, flags, getwindowsversion, thread_info, asyncgen_hooks, _ExceptHookArgs, ...

The initialisation signature is normally used for type casting. Notice the initialisation signature requests an iterable which is empty by default. The ```/``` indicates that the iterable is to be provided positionally:

```python
tuple(iterable=(), /)
```

A Unicode ```str``` is an iterable ```Collection``` where each fundamental unit is an Unicode character. If this is supplied to the ```tuple``` initialisation signature, a ```tuple``` with similar properties is created:

In [34]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

As the ```tuple``` is a fundamental ```Collection``` it is usually instantiated directly:

In [35]:
('h', 'e', 'l', 'l', 'o')

('h', 'e', 'l', 'l', 'o')

The parenthesis ```( )``` in Python serve multiple purposes:

* Calling a function and supplying input arguments
* Order of preference for binary operators PEDMAS: Parenthesis, Exponentiation, Division, Multiplication, Addition and Subtraction
* Enclosing elements in a tuple

This can be seen when each element is a mathematical expression using PEDMAS in a 2 element ```tuple``` that is printed:

In [36]:
((5+3)*15, 23/(4-2))

(120, 11.5)

The parenthesis are used to specify order of preference and in the following examples return a scalar:

In [37]:
not_a_tuple1 = ('hello')

In [38]:
not_a_tuple2 = (1)

The ```type``` of these instances can be checked:

In [39]:
variables(['not_a_tuple1', 'not_a_tuple2'])

              Type Size/Shape  Value
Instance Name
not_a_tuple1   str          5  hello
not_a_tuple2   int                 1

To distinguish from parenthesis from a single element ```tuple```, a comma is required after the single element:

In [40]:
single_element_tuple1 = ('hello',)

In [41]:
single_element_tuple2 = (1,)

In [42]:
variables(['not_a_tuple1', 'not_a_tuple2', 'single_element_tuple1', 'single_element_tuple2'])

                        Type Size/Shape       Value
Instance Name
not_a_tuple1             str          5       hello
not_a_tuple2             int                      1
single_element_tuple1  tuple          1  ('hello',)
single_element_tuple2  tuple          1        (1,)

The preferred syntax for a single element ```tuple``` can be seen from the formal representation returned in the cell output:

In [43]:
single_element_tuple1

('hello',)

A two element ```tuple``` can be constructed with or without the trailing comma:

In [44]:
two_element_tuple1 = ('hello', 'world',)

The syntax preferred from the formal representation is to exclude the trailing comma:

In [45]:
two_element_tuple1

('hello', 'world')

To construct an empty ```tuple```, empty parenthesis can be used:

In [46]:
empty_tuple = ()

In [47]:
variables(['not_a_tuple1', 'not_a_tuple2', 'single_element_tuple1', 'single_element_tuple2', 'two_element_tuple1', 'empty_tuple'])

                        Type Size/Shape               Value
Instance Name
not_a_tuple1             str          5               hello
not_a_tuple2             int                              1
single_element_tuple1  tuple          1          ('hello',)
single_element_tuple2  tuple          1                (1,)
two_element_tuple1     tuple          2  ('hello', 'world')
empty_tuple            tuple          0                  ()

## Identifiers

Because both the ```tuple``` and ```str``` follow the design pattern of a ```Collection```, notice that most of the datamodel identifiers are consistent:

In [48]:
dir2(tuple, str, consistent_only=True)

{'method': ['count', 'index'],
 'datamodel_attribute': ['__doc__'],
 'datamodel_method': ['__add__',
                      '__class__',
                      '__contains__',
                      '__delattr__',
                      '__dir__',
                      '__eq__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getitem__',
                      '__getnewargs__',
                      '__getstate__',
                      '__gt__',
                      '__hash__',
                      '__init__',
                      '__init_subclass__',
                      '__iter__',
                      '__le__',
                      '__len__',
                      '__lt__',
                      '__mul__',
                      '__ne__',
                      '__new__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__rmul__',
                      '__setattr__',
                      '__sizeof__',
                      '__str__',
                      '__subclasshook__']}

The ```tuple``` only has one method not available in the ```str``` class, ```__Class_getitem__``` which is typically only used for type hinting:

In [49]:
dir2(tuple, str, unique_only=True)

{'datamodel_method': ['__class_getitem__']}

The ```tuple``` lacks all the ```str``` methods related to text manipulation and this includes the datamodel method ```__mod__``` (*dunder mod*) which is used for a formatted ```str```:

In [50]:
dir2(str, tuple, unique_only=True)

{'method': ['capitalize',
            'casefold',
            'center',
            'encode',
            'endswith',
            'expandtabs',
            'find',
            'format',
            'format_map',
            'isalnum',
            'isalpha',
            'isascii',
            'isdecimal',
            'isdigit',
            'isidentifier',
            'islower',
            'isnumeric',
            'isprintable',
            'isspace',
            'istitle',
            'isupper',
            'join',
            'ljust',
            'lower',
            'lstrip',
            'maketrans',
            'partition',
            'removeprefix',
            'removesuffix',
            'replace',
            'rfind',
            'rindex',
            'rjust',
            'rpartition',
            'rsplit',
            'rstrip',
            'split',
            'splitlines',
            'startswith',
            'strip',
            'swapcase',
            'title',
            'translate',
            'upper',
            'zfill'],
 'datamodel_method': ['__mod__', '__rmod__']}

## Indexing and Slicing

A ```tuple``` is an immutable ```Collection``` where the fundamental unit is a Python ```object```:

In [51]:
object1 = object()
object2 = object()
object3 = object()
object4 = object()
object5 = object()

In [52]:
archive = (object1, object2, object3, object4, object5)

In [53]:
view(archive)

Index 	 Type                 	 Size   	 Value
0 	 object               	 1      	 <object object at 0x0000019F77E1C5E0>
1 	 object               	 1      	 <object object at 0x0000019F77E1C890>
2 	 object               	 1      	 <object object at 0x0000019F77E1C6C0>
3 	 object               	 1      	 <object object at 0x0000019F77E1C600>
4 	 object               	 1      	 <object object at 0x0000019F77E1C830>

This is similar to a ```str``` instance which is also an immutable ```Collection``` were, the fundamental unit is a 1 letter ```str``` instance:

In [54]:
greeting = 'hello'

In [55]:
view(greeting)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 1      	 h
1 	 str                  	 1      	 e
2 	 str                  	 1      	 l
3 	 str                  	 1      	 l
4 	 str                  	 1      	 o

Each instance in a ```tuple``` can be a ```str``` instance and a ```tuple``` can have duplicate ```str``` values:

In [56]:
text_archive = ('hello', 'hello', 'hello')

In [57]:
view(text_archive)

Index 	 Type                 	 Size   	 Value
0 	 str                  	 5      	 hello
1 	 str                  	 5      	 hello
2 	 str                  	 5      	 hello

These ```Collections``` have the datamodel ```__len__``` (*dunder len*) defined which controls the behaviour of the ```len``` function and returns the number of ```object``` references in the ```tuple``` and the number of Unicode characters in the ```str``` respectively:

In [58]:
len(archive)

5

In [59]:
len(greeting)

5

These ```Collections``` have the datamodel method ```__getitem__``` (*dunder getitem*) which allows indexing using an ```int``` value. This retrieves the Python ```object``` reference or Unicode character at each index respectively. For example the ```object``` reference and Unicode character at index ```0``` can be retrieved:

In [60]:
archive[0]

In [61]:
greeting[0]

'h'

Indexing can be used to return the reference to the ```str``` at the ```tuple``` index ```0```:

In [62]:
text_archive[0]

'hello'

The Unicode character at index 1 can then be retrieved from this ```str``` instance:

In [63]:
text_archive[0][1]

'e'

Slicing gives a subcollection of the Python ```object``` references or Unicode characters respectively:

In [64]:
archive[0:3]

(<object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>,
 <object at 0x19f77e1c6c0>)

In [65]:
greeting[0:3]

'hel'

The keyword ```in``` can be used to check whether a complete reference or a Unicode character is in each of these ```Collections```:

In [66]:
object1 in archive

True

In [67]:
'h' in greeting

True

In [68]:
greeting in text_archive

True

The method ```count```, counts the number of occurrences of an ```object``` reference or Unicode substring:

In [69]:
archive.count(object1)

1

In [70]:
greeting.count('h')

1

In [71]:
text_archive.count('hello')

3

Notice that ```count``` will only ```count``` a complete reference to an ```object``` in the ```tuple```. It will not count a partial reference, for example the Unicode substring ```'h'``` which is a partial reference to ```'hello'``` is not found:

In [72]:
text_archive.count('h')

0

The method ```index``` will retrieve the index of the first occurrence of a reference or a substring:

In [73]:
archive.index?

Signature: archive.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [74]:
text.index?

Object `text.index` not found.

For example:

In [75]:
archive.index(object1)

0

In [76]:
greeting.index('h')

0

In [77]:
text_archive.index('hello')

0

This will once again only search for a complete reference to an ```object``` and not a partial reference. Therefore the following will flag a ```ValueError```:

```python
text_archive.index('h')
```

The ```str``` is always hashable as its fundamental unit, a single Unicode character is itself always hashable. The fundamental unit in a ```tuple``` on the other hand is a reference to a Python ```object``` which may be an instance of an immutable or mutable class. The ```tuple``` is only hashable if each of its references are to an immutable ```object```:

In [78]:
hashable_tuple1 = ('Hello', b'Hello', 1, True, 3.14)

In [79]:
hash(hashable_tuple1)

8281366886030770835

When one of the references is to an immutable instance:

In [80]:
unhashable_tuple1 = ('Hello', bytearray(b'Hello'), 1, True, 3.14)

Hashing it will flag a ```TypeError```

```python
hash(unhashable_tuple1)
```

```tuple``` instances with only references to immutable ```objects``` are hashable and can be used as keys in a mapping such as a ```dict```:

In [81]:
colors = {(255, 0, 0): 'red', 
          (0, 255, 0): 'green',
          (0, 0, 255): 'blue'}

In [82]:
colors[(255, 0, 0)]

'red'

## Binary Operators

The datamodel method ```__add__``` (*dunder add*) defines the behaviour of the binary operator ```+```. For a ```Collection``` it is configured for concatenation of two instances of the ```Collection```. For example:

In [83]:
'hello' + 'world'

'helloworld'

In [84]:
(object1, object2) + (object3, object4, object5)

(<object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>,
 <object at 0x19f77e1c6c0>,
 <object at 0x19f77e1c600>,
 <object at 0x19f77e1c830>)

Both instances being concatenated have to be of the same class; ```Concatenation``` of a ```tuple``` and ```str``` is not allowed for example and attempting to do so will flag a ```TypeError```:

```python
(object1, object2) + 'hello'
```

A ```str``` can be cast to a ```tuple``` or incorporated as an element in a ```tuple``` and concatenated with a ```tuple```:

In [85]:
(object1, object2) + ('hello',)

(<object at 0x19f77e1c5e0>, <object at 0x19f77e1c890>, 'hello')

In [86]:
(object1, object2) + tuple('hello')

(<object at 0x19f77e1c5e0>, <object at 0x19f77e1c890>, 'h', 'e', 'l', 'l', 'o')

The datamodel method ```__mul__``` defines the behaviour of the ```*``` operator and is configured for ```str``` or reference replication by use of an ```int``` instance. For example:

In [87]:
(object1, object2) * 3

(<object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>,
 <object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>,
 <object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>)

In [88]:
'hello' * 3

'hellohellohello'

The reverse equivalents are also configured so the opposite order works around the ```*``` operator:

In [89]:
3 * (object1, object2)

(<object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>,
 <object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>,
 <object at 0x19f77e1c5e0>,
 <object at 0x19f77e1c890>)

In [90]:
3 * 'hello'

'hellohellohello'

## Comparison Operators

The tuple is configured to use the six comparison operators ```__lt__```, ```__le__```, ```__eq__```, ```__ne__```, ```__gt__```, ```__gt__```. It performs the comparison reference by reference. Therefore for the comparison to work the values at each corresponding element must be the same datatype that is ordinal:

In [91]:
(1, 3, 4) > (2,)

False

Checks the first index:

In [92]:
1 > 2

False

The following will flag a ```TypeError```:

```python
('a', 3, 4) > (2,)
```

Because the check at the first index attempts:

```python
'a' > 2
```

If two tuples the same size are compared:

In [93]:
(1, 2, 3, 4) > (1, 2, 3, 5)

False

The first 3 elements are found to be equal, so the next element is checked:

In [94]:
1 == 1

True

In [95]:
2 == 2

True

In [96]:
3 == 3

True

The last element on the left is ```4``` which is less than ```5``` on the right so the statement is ```False```:

In [97]:
4 > 5

False

If an element doesn't exist in one of the ```tuple``` instances, that ```tuple``` instance is considered to be smaller:

In [98]:
(1, 2, 3) < (1, 2, 3, 4)

True

## Tuple Unpacking

In Python it is common to use a ```tuple``` to swap the instance names (labels) for two instances:

In [99]:
instance1 = 1
instance2 = 2

In [100]:
variables(['instance1', 'instance2'])

              Type Size/Shape Value
Instance Name
instance1      int                1
instance2      int                2

In [101]:
(instance1, instance2) = (instance2, instance1)

In [102]:
variables(['instance1', 'instance2'])

              Type Size/Shape Value
Instance Name
instance1      int                2
instance2      int                1

Recall that assignment operator is approached from right to left. On the right hand side the labels reference the original values of ```instance2``` and ```instance1``` which are ```2``` and ```1``` respectively. Then on the left hand side these are reassigned to ```instance1``` and ```instance2``` respectively.

```tuple``` packing is a commonly performed task and can be performed shorthand without specifying the parenthesis. The instance names can be swapped for the two instances using:

In [103]:
instance1, instance2 = instance2, instance1

In [104]:
variables(['instance1', 'instance2'])

              Type Size/Shape Value
Instance Name
instance1      int                1
instance2      int                2

If the following ```tuple``` of references to ```str``` instances is examined:

In [105]:
archive = ('Python', 'Numpy', 'Pandas', 'Matplotlib')

The ```tuple``` is an iterable, containing the datamodel method ```__iter__```. Because it is iterable a ```for``` loop can be constructed to ```print``` out each value:

In [106]:
for value in archive:
    print(value)

Python
Numpy
Pandas
Matplotlib

The index can also be printed using:

In [107]:
for index in range(len(archive)):
    print(index)

0
1
2
3

The enumerate function can be used on a ```tuple```. It will return an enumerated object which is essentially a ```tuple``` where each reference is a 2 element ```tuple```. In each nested 2 element ```tuple```, the first value is the index and the second value is the reference:

In [108]:
for index_value_tuple in enumerate(archive):
    print(index_value_tuple)

(0, 'Python')
(1, 'Numpy')
(2, 'Pandas')
(3, 'Matplotlib')

Since this is a ```tuple```, an ```object``` name can be specified for each element in the ```tuple```:

In [109]:
for (index, value) in enumerate(archive):
    print((index, value))

(0, 'Python')
(1, 'Numpy')
(2, 'Pandas')
(3, 'Matplotlib')

This is typically unpacked without using the parenthesis:

In [110]:
for index, value in enumerate(archive):
    print(index, value)

0 Python
1 Numpy
2 Pandas
3 Matplotlib

Functions by default only ```return``` a single value for example:

In [111]:
def squared(input):
    output = input ** 2
    return output

In [112]:
squared(4)

16

If multiple outputs are desired they are typically output using a ```tuple```:

In [113]:
def squared_cubed(input):
    output = (input**2, input**3)
    return output

In [114]:
squared_cubed(4)

(16, 64)

This can be shortened by modifying the ```return``` statement directly:

In [115]:
def squared_cubed(input):
    return (input**2, input**3)

In [116]:
squared_cubed(4)

(16, 64)

And shortened further using ```tuple``` unpacking:

In [117]:
def squared_cubed(input):
    return input**2, input**3

In [118]:
squared_cubed(4)

(16, 64)

Normally a docstring is provided so the user knows what to expect in terms of input arguments and the ```return``` value:

In [119]:
def squared_cubed(input):
    """squares and cubes an integer

    Args:
        input int: integer

    Returns:
        tuple: (squared, cubed)
    """
    return input**2, input**3

This means the docstring can be used:

In [120]:
squared_cubed?

Signature: squared_cubed(input)
Docstring:
squares and cubes an integer

Args:
    input int: integer

Returns:
    tuple: (squared, cubed)
File:      c:\users\phili\appdata\local\temp\ipykernel_15692\4252840770.py
Type:      function

And therefore the programmer using the function now knows that they can assign the output of the function to two values:

In [121]:
five_squared, five_cubed = squared_cubed(5)

In [122]:
variables(['five_squared', 'five_cubed'])

              Type Size/Shape Value
Instance Name
five_squared   int               25
five_cubed     int              125

## Nested Tuples

```tuple``` unpacking is commonly used in conjunction with the ```builtins``` class ```zip``` which zips respective elements of two ```Collections``` together. For example the two ```tuple``` instances below can be zipped together:

In [123]:
string_archive = ('one', 'two', 'three', 'four', 'five')
int_archive = (1, 2, 3, 4, 5)

In [124]:
zipped_object = zip(string_archive, int_archive)

In [125]:
zipped_object

The contents of a ```zipped_object``` can be viewed by casting into a tuple:

In [126]:
zipped_archive = tuple(zipped_object)

In [127]:
variables(['zipped_archive'])

,Type,Size/Shape,Value
Instance Name,,,
zipped_archive,tuple,5,"(('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5))"

Notice that this is a ```5``` element ```tuple``` where each element is a ```2``` element ```tuple```. In other words since a ```tuple``` is a Python ```object``` that has an instance name or reference, it can be referenced as an element in another ```tuple```. Let's examine this in more detail:

In [128]:
view(zipped_archive)

Index 	 Type                 	 Size   	 Value
0 	 tuple                	 2      	 ('one', 1)
1 	 tuple                	 2      	 ('two', 2)
2 	 tuple                	 2      	 ('three', 3)
3 	 tuple                	 2      	 ('four', 4)
4 	 tuple                	 2      	 ('five', 5)

If index ```0``` is examined:

In [129]:
view(zipped_archive[0])

Index 	 Type                 	 Size   	 Value
0 	 str                  	 3      	 one
1 	 int                  	 1      	 1

And therefore to get the value that is the ```str``` instance ```'four'``` indexing is carried out first in the outer ```tuple```:

In [130]:
zipped_archive[3]

('four', 4)

And then the inner ```tuple```:

In [131]:
zipped_archive[3][0]

'four'

The above ```tuple``` can be instantiated directly using:

In [132]:
archive = (('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5))

In [133]:
archive

(('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5))

To make the code more readible spacing is often added:

In [134]:
archive = (('one', 1), 
           ('two', 2), 
           ('three', 3), 
           ('four', 4), 
           ('five', 5))

In [135]:
archive

(('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5))

The spacing is only cosmetic and the cell output showing the default representation is the same regardless if the spacing is added or not.

The pair of items in the above ```tuple``` is commonly accessed using ```tuple``` unpacking:

In [136]:
(word, num) = archive[0]

In [137]:
word

'one'

In [138]:
num

1

This is normally done shorthand using:

In [139]:
word, num = archive[0]

In [140]:
word

'one'

In [141]:
num

1

And all the elements can be accessed using a ```for``` loop:

In [142]:
for word, num in archive:
    print(num, word)

1 one
2 two
3 three
4 four
5 five

In [143]:
for word, num in archive:
    print(num * word)

one
twotwo
threethreethree
fourfourfourfour
fivefivefivefivefive

a similar form was seen when the ```enumerate``` class was used to ```enumerate``` a ```Collection```. For example:

In [144]:
enumerate_object = enumerate('hello')

This ```enumerate``` instance can be cast into a ```tuple``` to view its contents:

In [145]:
enumerate_archive = tuple(enumerate_object)

In [146]:
variables().loc[['enumerate_archive']]

,Type,Size/Shape,Value
Instance Name,,,
enumerate_archive,tuple,5,"((0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o'))"

The ```zip``` class can ```zip``` more than 2 ```Collections``` together. For example:

In [147]:
reds = (1, 0, 0)
greens = (0, 1, 0)
blues = (0, 0, 1)
colors = ('red', 'green', 'blue')

In [148]:
color_archive = tuple(zip(colors, reds, greens, blues))

In [149]:
view(color_archive)

Index 	 Type                 	 Size   	 Value
0 	 tuple                	 4      	 ('red', 1, 0, 0)
1 	 tuple                	 4      	 ('green', 0, 1, 0)
2 	 tuple                	 4      	 ('blue', 0, 0, 1)

In [150]:
view(color_archive[0])

Index 	 Type                 	 Size   	 Value
0 	 str                  	 3      	 red
1 	 int                  	 1      	 1
2 	 int                  	 1      	 0
3 	 int                  	 1      	 0

[Return to Python Tutorials](../readme.md)