# Datetime and Zoneinfo Modules

The datetime module contains classes for manipulating dates and times and is complemented by the zoneinfo module which has improvements on timezone implementations.

## Categorize_Identifiers Module

This notebook will use the following functions ```dir2```, ```variables``` and ```view``` in the custom module ```categorize_identifiers``` which is found in the same directory as this notebook file. ```dir2``` is a variant of ```dir``` that groups identifiers into a ```dict``` under categories and ```variables``` is an IPython based a variable inspector. ```view``` is used to view a ```Collection``` in more detail:

In [1]:
from categorize_identifiers import dir2, variables, view

## Imports

The ```datetime``` module can be imported using:

In [2]:
import datetime

Its identifiers can be viewed by using:

In [3]:
dir2(datetime)

{'attribute': ['datetime_CAPI'],
 'constant': ['MAXYEAR', 'MINYEAR', 'UTC'],
 'lower_class': ['date', 'datetime', 'time', 'timedelta', 'timezone', 'tzinfo'],
 'datamodel_attribute': ['__all__',
                         '__builtins__',
                         '__cached__',
                         '__doc__',
                         '__file__',
                         '__loader__',
                         '__name__',
                         '__package__',
                         '__spec__']}

The four main classes of interest are ```date```, ```time```, ```timedelta``` and ```datetime```. These classes are in lower case as they were originally designed to be incorporated into ```builtins``` before being compartmentalised into their own ```datetime``` module. 

Note do not confuse the module name ```datetime``` with the class name ```datetime```.

The other two classes ```timezone``` and ```tzinfo``` are legacy classes for handling timezones. These remain in ```datetime``` for backwards compatibility however it is recommended to use the newer implementation which was developed separately in the ```zoneinfo``` module:

In [4]:
import zoneinfo

The ```zoneinfo``` module contains the ```ZoneInfo``` class which is used to create timezone instances:

In [5]:
dir2(zoneinfo)

{'constant': ['TZPATH'],
 'method': ['available_timezones', 'reset_tzpath'],
 'upper_class': ['InvalidTZPathWarning', 'ZoneInfo', 'ZoneInfoNotFoundError'],
 'datamodel_attribute': ['__all__',
                         '__builtins__',
                         '__cached__',
                         '__doc__',
                         '__file__',
                         '__loader__',
                         '__name__',
                         '__package__',
                         '__path__',
                         '__spec__'],
 'datamodel_method': ['__dir__', '__getattr__'],
 'internal_attribute': ['_common', '_tzpath']}

One module that is commonly used with ```datetime``` is ```time```. In order to avoid naming conflicts, the following code is not normally used:

```python
from datetime import time
from time import time
```

Instead both modules are imported:

In [6]:
import time

And the identifiers can clearly be obtained from each module:

In [7]:
datetime

In [8]:
time

In [9]:
datetime.time

datetime.time

In [10]:
time.time

In [11]:
datetime.datetime

datetime.datetime

Because there is only one class being imported from ```zoneinfo``` and no naming conflicts, the ```ZoneInfo``` class is normally imported using:

In [12]:
from zoneinfo import ZoneInfo

## Date

The identifiers for the ```datetime.date``` class can be examined. It has the instance attributes ```year```, ```month``` and ```day``` which are supplied during instantiation and the class attributes ```min```, ```max``` and ```resolution``` which give details about the minimum and maximum possible dates as well as the time resolution of a day. The ```datetime.date``` class also has a number of other methods that act as alternative constructors for another date format or export the date to such a format respectively:

In [13]:
dir2(datetime.date, object, unique_only=True)

{'attribute': ['day', 'max', 'min', 'month', 'resolution', 'year'],
 'method': ['ctime',
            'fromisocalendar',
            'fromisoformat',
            'fromordinal',
            'fromtimestamp',
            'isocalendar',
            'isoformat',
            'isoweekday',
            'replace',
            'strftime',
            'timetuple',
            'today',
            'toordinal',
            'weekday'],
 'datamodel_method': ['__add__', '__radd__', '__rsub__', '__sub__']}

The initialization signature of the ```datetime.date``` class can be viewed by inputting:

In [14]:
datetime.date?

Init signature: datetime.date(self, /, *args, **kwargs)
Docstring:      date(year, month, day) --> date object
File:           c:\users\phili\anaconda3\envs\vscode-env\lib\datetime.py
Type:           type
Subclasses:     datetime

It requires positional parameters, the ```year```, the ```month``` and the ```day``` which are collectively needed to specify a calendar date:

In [15]:
day1 = datetime.date(2023, 9, 29)

Note the time is shown using descending format ```year```, ```month``` and then ```day``` to prevent confusion between UK and US formats:

In [16]:
variables()

               Type Size/Shape       Value
Instance Name
day1           date             2023-09-29

The formal and informal ```str``` representation differ for a ```datetime.date``` instance with the formal representation matching the way to instantiate a new ```datetime.date``` instance and the informal representation matching the iso format:

In [17]:
repr(day1)

'datetime.date(2023, 9, 29)'

In [18]:
str(day1)

'2023-09-29'

The instance attributes can be read off:

In [19]:
day1.year

2023

In [20]:
day1.month

9

In [21]:
day1.day

29

The class attributes ```min``` and ```max``` give the minimum and maximum possible date instance:

In [22]:
day1.min

datetime.date(1, 1, 1)

In [23]:
day1.max

datetime.date(9999, 12, 31)

The class attribute ```resolution```, gives the time resolution of the date instance, as a ```timedelta``` instance:

In [24]:
day1.resolution

datetime.timedelta(days=1)

Note this is in days which corresponds to the lowest unit possible for the ```date``` instance.

A ```datetime.date``` instance can be constructed in multiple ways and therefore has a number of alternative constructors. Most of these begin with from or to methods. However there is also ```today``` which will return the date today:

In [25]:
day2 = datetime.date.today()

In [26]:
variables()

               Type Size/Shape       Value
Instance Name
day1           date             2023-09-29
day2           date             2024-02-12

The informal string representation of a ```date``` instance is in the isoformat:

In [27]:
str(day1)

'2023-09-29'

The alternative constructor (class method) ```fromisoformat``` can be used to construct a time instance from an isoformat string which is of the form ```'yyyy-mm-dd'```:

In [28]:
day1a = datetime.date.fromisoformat('2008-12-03')

In [29]:
variables()

               Type Size/Shape       Value
Instance Name
day1           date             2023-09-29
day2           date             2024-02-12
day1a          date             2008-12-03

The method ```weekday``` gives a zero-order index weekday where Monday is at index ```0``` and Sunday is at index ```6```:

In [30]:
day1.weekday()

4

The method ```isoweekday``` gives a first-order index weekday where Monday is at index 1 and Sunday is at index 7:

In [31]:
day1.isoweekday()

5

The method ```isocalendar``` returns a ```date``` in the isoformat which contains a year, week and weekday:

In [32]:
day1.isocalendar()

datetime.IsoCalendarDate(year=2023, week=39, weekday=5)

The alternative constructor (class method) ```fromisocalendar``` is an alternative constructor using this format. The named parameters are however slightly inconsistent using day in fromisocalendar and weekday in isocalendar:

In [33]:
day1b = datetime.date.fromisocalendar(year=2008, week=49, day=3)

The ordinal date begins at:

In [34]:
day1.min

datetime.date(1, 1, 1)

And 1 ordinal unit is 1 day:

In [35]:
day1.toordinal()

738792

This can be calculated as:

In [36]:
(2008 - 1) * 365.2425 + (12 - 1) * 30.4 + (3 - 1) + 1

733379.0975

The ```+1``` at the end is because ```2008``` is a leap year. The ```fromordinal``` alternative constructor will construct a ```date``` instance from this ordinal time:

In [37]:
day1c = datetime.date.fromordinal(733379)

In [38]:
variables()

               Type Size/Shape       Value
Instance Name
day1           date             2023-09-29
day2           date             2024-02-12
day1a          date             2008-12-03
day1b          date             2008-12-03
day1c          date             2008-12-03

The ```time.time``` returns the system time as a timestamp. This is a unit of measurement in seconds that begins from the Epoch Time ```datetime.date(1970, 1, 1)``` which is designated ```0``` milliseconds:

In [39]:
time.time()

1707774599.9317381

The alternative constructor ```fromtimestamp``` can be used to construct a ```datetime.date``` from this:

In [40]:
datetime.date.fromtimestamp(time.time())

datetime.date(2024, 2, 12)

There is no export method to a timestamp as the date is not accurate enough to be expressed in milliseconds.

A ```datetime.date``` instance can also be converted to a timetuple:

In [41]:
day1.timetuple()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=29, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=272, tm_isdst=-1)

Or a C-style time string:

In [42]:
day1.ctime()

'Fri Sep 29 00:00:00 2023'

A formatted string for the date instance can be created using the method ```strftime```. Lower case format codes are used for a date ```%y```, ```%m```, ```%d``` in a ```2``` digit format:

In [43]:
day1.strftime('%y')

'23'

In [44]:
day1.strftime('%m')

'09'

In [45]:
day1.strftime('%d')

'29'

The upper case variation ```%Y``` give the years in ```4``` digits:

In [46]:
day1.strftime('%Y')

'2023'

The upper case ```%dD```gives the date in the American format ```(month/day/year)```:

In [47]:
day1.strftime('%D')

'09/29/23'

This is equivalent to:

In [48]:
day1.strftime(r'%m/%d/%y')

'09/29/23'

The British format can be constructed using:

In [49]:
day1.strftime(r'%d/%m/%y')

'29/09/23'

Note that the upper case ```%M``` is reserved for a ```datetime.time```, corresponding to a minute and will be examined later.

The ```replace``` method can be used with the keywords ```year```, ```month``` and ```date``` to replace an attribute in the original ```datetime.date``` instance and because this class is immutable returns a new instance:

In [50]:
day3 = day1.replace(year=2009)

Because ```datetime.date``` instances are ordinal, the following datamodel methods are defined ```__eq__```, ```__ne__```, ```__lt__```, ```__le__```, ```__gt__```, and ```__ge__``` corresponding to the ```6``` comparison operators ```==```, ```!=```, ```<```, ```<=```, ```>``` and ```>=```:

In [51]:
variables()

               Type Size/Shape       Value
Instance Name
day1           date             2023-09-29
day2           date             2024-02-12
day1a          date             2008-12-03
day1b          date             2008-12-03
day1c          date             2008-12-03
day3           date             2009-09-29

In [52]:
day1 == day2

False

In [53]:
day1 > day2

False

In [54]:
day1 < day2

True

The ```__sub__``` datamodel method is also defined and the ```-``` operator can be used between two ```datetime.date``` instances to the day difference in the form of a ```datetime.timedelta```:

In [55]:
day2 - day1

datetime.timedelta(days=136)

The ```__add__``` datamodel method is also defined and the ```+``` operator can be used between a ```datetime.date``` instance and a ```datetime.timedelta``` instance to return a new ```datetime.timedelta```:

In [56]:
day1 + datetime.timedelta(days=1)

datetime.date(2023, 9, 30)

## Time

The identifiers for the ```datetime.time``` class can be examined. It has the instance attributes ```hour```, ```minute```, ```second``` and ```microsecond``` which are supplied during instantiation and the class attributes ```min```, ```max``` and ```resolution``` which give details about the minimum and maximum possible dates as well as the time resolution of a day.

The ```tzinfo``` attribute gives details about the timezone and ```fold``` is used for clock changes to distinguish duplicate times (due to clock changes).

The ```datetime.time``` class also has a number of other methods that act as alternative constructors for another time format or export the date to such a format respectively:

In [57]:
dir2(datetime.time, object, unique_only=True)

{'attribute': ['fold',
               'hour',
               'max',
               'microsecond',
               'min',
               'minute',
               'resolution',
               'second',
               'tzinfo'],
 'method': ['dst',
            'fromisoformat',
            'isoformat',
            'replace',
            'strftime',
            'tzname',
            'utcoffset']}

The initialization signature of the ```datetime.time``` class can be viewed by inputting:

In [58]:
time?

Type:        module
String form: <module 'time' (built-in)>
Docstring:
This module provides various functions to manipulate time values.

There are two standard representations of time.  One is the number
of seconds since the Epoch, in UTC (a.k.a. GMT).  It may be an integer
or a floating point number (to represent fractions of seconds).
The Epoch is system-defined; on Unix, it is generally January 1st, 1970.
The actual value can be retrieved by calling gmtime(0).

The other representation is a tuple of 9 integers giving local time.
The tuple items are:
  year (including century, e.g. 1998)
  month (1-12)
  day (1-31)
  hours (0-23)
  minutes (0-59)
  seconds (0-59)
  weekday (0-6, Monday is 0)
  Julian day (day in the year, 1-366)
  DST (Daylight Savings Time) flag (-1, 0 or 1)
If the DST flag is 0, the time is given in the regular time zone;
if it is 1, the time is given in the DST time zone;
if it is -1, mktime() should guess based on the date and time.

A time instance can be constructed by specifying the ```hours```, ```minutes```, ```seconds``` and ```microseconds``` (the lower units of measurement are optional):

In [59]:
time1 = datetime.time(hour=10, minute=43, second=35)

In [60]:
time2 = datetime.time(hour=15, minute=30, second=14, microsecond=156789)

These can be viewed using:

In [61]:
variables(['time1', 'time2'])

               Type Size/Shape            Value
Instance Name
time1          time                    10:43:35
time2          time             15:30:14.156789

The formal and informal ```str``` representation differ for a ```datetime.time``` instance with the formal representation matching the way to instantiate a new ```datetime.time``` instance and the informal representation matching the iso format:

In [62]:
repr(time2)

'datetime.time(15, 30, 14, 156789)'

In [63]:
str(time2)

'15:30:14.156789'

The time attributes corresponding to each unit can also be accessed:

In [64]:
time2.hour

15

In [65]:
time2.minute

30

In [66]:
time2.second

14

In [67]:
time2.microsecond

156789

The attributes ```min``` and ```max``` are class attributes and give the minimum and maximum possible ```datetime.time``` instance:

In [68]:
time2.min

datetime.time(0, 0)

In [69]:
time2.max

datetime.time(23, 59, 59, 999999)

Note do not confuse the attribute ```min``` with the attribute ```minute```.

The class attribute ```resolution```, gives the time resolution of the ```datetime.date``` instance, as a ```timedelta``` instance:

In [70]:
time1.resolution

datetime.timedelta(microseconds=1)

Note the resolution for a ```datetime.time``` instance is ```1``` microsecond opposed to ```1``` day as seen for the ```datetime.date``` instance.

The ```isoformat``` method returns the ```datetime.time``` in ```isoformat``` behaving identically to the informal ```str``` method:

In [71]:
time1.isoformat()

'10:43:35'

The alternative constructor (class method) ```fromisoformat``` that can be used to construct a ```datetime.time``` instance from an isoformat ```str``` instance:

In [72]:
day1a = datetime.time.fromisoformat('12:13:14.156789')

In [73]:
variables()

               Type Size/Shape            Value
Instance Name
day1           date                  2023-09-29
day2           date                  2024-02-12
day1a          time             12:13:14.156789
day1b          date                  2008-12-03
day1c          date                  2008-12-03
day3           date                  2009-09-29
time1          time                    10:43:35
time2          time             15:30:14.156789

A formatted ```str``` for the ```datetime.time``` instance can be constructed using ```strftime```. Uppercase format codes are generally used for times ```%H```, ```%M```, ```%S``` however a lowercase format code ```%f``` is used for the microseconds:

In [74]:
time2.strftime('%H')

'15'

In [75]:
time2.strftime('%M')

'30'

In [76]:
time2.strftime('%S')

'14'

In [77]:
time2.strftime('%f')

'156789'

The ```replace``` method can be used with the keywords ```hour```, ```minute```, ```seconds``` and ```microseconds``` to replace an attribute in the original ```datetime.time``` instance and returns a new instance because this class is immutable:

In [78]:
time3 = time2.replace(hour=19)

In [79]:
variables(['time1', 'time2', 'time3'])

               Type Size/Shape            Value
Instance Name
time1          time                    10:43:35
time2          time             15:30:14.156789
time3          time             19:30:14.156789

```datetime.time``` instances are ordinal and the comparison operators are defined to operate between two instances:

In [80]:
day2 > day1

True

## DateTime

The ```datetime.datetime``` class is effectively the combination of the ```datetime.date``` and ```datetime.time``` class. Most of the attributes are consistent to their counterparts in the ```datetime.date``` or ```datetime.tim``` classes respectively:

In [81]:
dir2(datetime.datetime, object, unique_only=True)

{'attribute': ['day',
               'fold',
               'hour',
               'max',
               'microsecond',
               'min',
               'minute',
               'month',
               'resolution',
               'second',
               'tzinfo',
               'year'],
 'method': ['astimezone',
            'combine',
            'ctime',
            'date',
            'dst',
            'fromisocalendar',
            'fromisoformat',
            'fromordinal',
            'fromtimestamp',
            'isocalendar',
            'isoformat',
            'isoweekday',
            'now',
            'replace',
            'strftime',
            'strptime',
            'time',
            'timestamp',
            'timetuple',
            'timetz',
            'today',
            'toordinal',
            'tzname',
            'utcfromtimestamp',
            'utcnow',
            'utcoffset',
            'utctimetuple',
            'weekday'],
 'datamodel_method': ['__add__', '__radd__', '__rsub__', '__sub__']}

The initialization signature of the ```datetime.datetime``` class can be viewed by inputting:

In [82]:
datetime.datetime?

Init signature: datetime.datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           c:\users\phili\anaconda3\envs\vscode-env\lib\datetime.py
Type:           type
Subclasses:     ABCTimestamp, _NaT

In [83]:
datetime1 = datetime.datetime(2023, 9, 29, 10, 43, 35, 1)

In [84]:
variables(['datetime1'])

                   Type Size/Shape                       Value
Instance Name
datetime1      datetime             2023-09-29 10:43:35.000001

The formal and informal ```str``` representation differ for a ```datetime.datetime``` instance with the formal representation matching the way to instantiate a new ```datetime.datetime``` instance and the informal representation being similar in form similar to the iso format:

In [85]:
repr(datetime1)

'datetime.datetime(2023, 9, 29, 10, 43, 35, 1)'

In [86]:
str(datetime1)

'2023-09-29 10:43:35.000001'

Note that there is a subtle difference between the informal ```str``` representation which uses a space between the date and time and the ```isoformat``` which uses a T between the date and time:

In [87]:
datetime1.isoformat()

'2023-09-29T10:43:35.000001'

As a consequence the alternative constructor (class method) ```fromisoformat``` can be used to create a ```datetime.datetime``` instance from a isoformat ```str``` instance (with or without the T):

In [88]:
datetime1a = datetime.datetime.fromisoformat('2023-09-29 10:43:35.000001')

In [89]:
datetime1b = datetime.datetime.fromisoformat('2023-09-29T10:43:35.000001')

In [90]:
variables(['datetime1', 'datetime1a', 'datetime1b'])

                   Type Size/Shape                       Value
Instance Name
datetime1      datetime             2023-09-29 10:43:35.000001
datetime1a     datetime             2023-09-29 10:43:35.000001
datetime1b     datetime             2023-09-29 10:43:35.000001

The ```datetime.datetime``` attributes corresponding to each unit can be read off:

In [91]:
datetime1.year

2023

In [92]:
datetime1.month

9

In [93]:
datetime1.day

29

In [94]:
datetime1.hour

10

In [95]:
datetime1.minute

43

In [96]:
datetime1.second

35

In [97]:
datetime1.microsecond

1

The attributes ```min``` and ```max``` are class attributes and give the minimum and maximum possible ```datetime.datetime``` instance which are a combination of the ```datetime.date``` and ```datetime.time``` attributes ```min``` and ```max```:

In [98]:
datetime.datetime.min

datetime.datetime(1, 1, 1, 0, 0)

In [99]:
datetime.date.min

datetime.date(1, 1, 1)

In [100]:
datetime.time.min

datetime.time(0, 0)

In [101]:
datetime.datetime.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

In [102]:
datetime.date.max

datetime.date(9999, 12, 31)

In [103]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

Once again do not confuse the attribute ```min``` with ```minute```.

The class attribute ```resolution```, gives the time resolution of the ```datetime.datetime``` instance, as a ```datetime.timedelta``` instance:

In [104]:
datetime.datetime.resolution

datetime.timedelta(microseconds=1)

Note this is in microseconds which corresponds to the lowest unit possible for the ```datetime.datetime``` instance. 

The ```date``` and ```time``` methods return a ```datetime.date``` and ```datetime.time``` instance respectively:

In [105]:
datetime1.date()

datetime.date(2023, 9, 29)

In [106]:
datetime1.time()

datetime.time(10, 43, 35, 1)

The alternative constructor combine can be used to combine a ```datetime.date``` and ```datetime.time``` instance:

In [107]:
datetime1.combine(day1, time1)

datetime.datetime(2023, 9, 29, 10, 43, 35)

In [108]:
datetime.datetime.fromisoformat('2008-12-03 20:21:23')

datetime.datetime(2008, 12, 3, 20, 21, 23)

The weekday and the isoweekday use the date related information and return a zero-order indexed week day and 1st order indexed week day respectively:

In [109]:
datetime1.weekday()

4

In [110]:
datetime1.weekday()

4

In [111]:
datetime1.weekday()

4

In [112]:
datetime1.isoweekday()

5

The alternative constructor (class method) ```now``` will create a ```datetime.datetime``` instance from the system clock:

In [113]:
datetime2 = datetime.datetime.now()

In [114]:
variables(['datetime2'])

                   Type Size/Shape                       Value
Instance Name
datetime2      datetime             2024-02-12 21:50:00.410043

All of the alternative constructors seen in the ```datetime.date``` class have consistent counterparts in the ```datetime.datetime``` class which include:

|to|from|
|---|---|
|isocalendar|fromisocalandar|
|toordinal|fromordinal|
|timestamp|fromtimestamp|
|timetuple||
|ctime||

The instance ```datetime1``` can be converted to these other formats using:

In [115]:
datetime1.toordinal()

738792

In [116]:
datetime1.timestamp()

1695980615.000001

In [117]:
datetime1.timetuple()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=29, tm_hour=10, tm_min=43, tm_sec=35, tm_wday=4, tm_yday=272, tm_isdst=-1)

In [118]:
datetime1.ctime()

'Fri Sep 29 10:43:35 2023'

A formatted ```str``` for the ```datetime.datetime``` instance can be created using ```strftime```. Both the format specifiers from the ```datetime.date``` and ```datetime.time``` instance are recognised:

* Lowercase format codes are used for a date ```%y```, ```%m```, ```%d``` in a ```2``` digit format
* Uppercase format code ```%Y``` is used for a ```4``` digit format for a year
* Uppercase format code ```%D``` is used for a date in the US format ```'mm/dd/yy'```
* Uppercase format codes are used for a time ```%H```, ```%M```, ```%S```
* Lowercase format code ```%f``` is used for the microseconds.

This can be used to construct a datetime ```str``` instance in the UK format for example:

In [119]:
datetime1.strftime(r'%H:%M:%S %d/%m/%Y')

'10:43:35 29/09/2023'

The method ```replace``` can be used to create a new instance where one or more of the units are changed:

In [120]:
datetime3 = datetime1.replace(year=2019, second=52)

In [121]:
variables(['datetime1', 'datetime3'])

                   Type Size/Shape                       Value
Instance Name
datetime1      datetime             2023-09-29 10:43:35.000001
datetime3      datetime             2019-09-29 10:43:52.000001

```datetime.datetime``` instances are ordinal so the comparison operators are defined:

In [122]:
datetime1 == datetime2

False

In [123]:
datetime1 > datetime2

False

The datamodel method ```__sub__``` and ```___add__``` are defined in a consistent manner to the ```datetime.date``` class. This means the ```-``` computes the time difference between two ```datetime.datetime``` instances, returning a ```datetime.timedelta``` instance:

In [124]:
datetime2 - datetime1

datetime.timedelta(days=136, seconds=39985, microseconds=410042)

And ```+``` can be used to add a ```datetime.datetime``` and ```datetime.timedelta``` instance returning a ```datetime.datetime``` instance:

In [125]:
datetime2 + datetime.timedelta(days=133, seconds=18381, microseconds=187929)

datetime.datetime(2024, 6, 25, 2, 56, 21, 597972)

## TimeDelta

A ```datetime.timedelta``` is a time difference; instances of the ```datetime.timedelta``` class were seen when subtracting two ```datetime.date``` or ```datetime.datetime``` instances from one another. The ```datetime.timedelta``` is numeric and therefore has many numeric datamodel identifiers consistent with a ```float``` for example:

In [126]:
dir2(datetime.timedelta, object, unique_only=True)

{'attribute': ['days', 'max', 'microseconds', 'min', 'resolution', 'seconds'],
 'method': ['total_seconds'],
 'datamodel_method': ['__abs__',
                      '__add__',
                      '__bool__',
                      '__divmod__',
                      '__floordiv__',
                      '__mod__',
                      '__mul__',
                      '__neg__',
                      '__pos__',
                      '__radd__',
                      '__rdivmod__',
                      '__rfloordiv__',
                      '__rmod__',
                      '__rmul__',
                      '__rsub__',
                      '__rtruediv__',
                      '__sub__',
                      '__truediv__']}

The initialisation signature of this class can be examined:

In [127]:
timedelta?

Object `timedelta` not found.

The keyword input arguments are sorted positionally by the most commonly used.

Recall ```datetime.date``` has a time resolution in ```days```. This is the first unit followed by seconds. This allows for compatibility between the ```datetime.timedelta``` and both the ```datetime.date``` and ```datetime.datetime``` classes. 

When other units are used, they are normally supplied as named parameters.

In [128]:
duration1 = datetime.timedelta(4)

In [129]:
duration2 = datetime.timedelta(0, 3600.125)

In [130]:
duration3 = datetime.timedelta(days=200, microseconds=5)

In [131]:
variables(['duration1', 'duration2', 'duration3'])

                    Type Size/Shape                     Value
Instance Name
duration1      timedelta                      4 days, 0:00:00
duration2      timedelta                       1:00:00.125000
duration3      timedelta             200 days, 0:00:00.000005

The formal ```str``` representation matches the easier form used to instantiate the date, the named parameters are used for clarity:

In [132]:
repr(duration3)

'datetime.timedelta(days=200, microseconds=5)'

In [133]:
repr(duration2)

'datetime.timedelta(seconds=3600, microseconds=125000)'

The informal ```str``` representation splits full days from the time as portrayed on a 24 hour clock:

In [134]:
str(duration3)

'200 days, 0:00:00.000005'

In [135]:
str(duration2)

'1:00:00.125000'

In [136]:
str(duration1)

'4 days, 0:00:00'

The attributes ```days```, ```seconds``` and ```microseconds``` are used to split these components:

In [137]:
duration3.days

200

In [138]:
duration3.seconds

0

In [139]:
duration3.microseconds

5

Note are the only attributes availables, so ```milliseconds``` provided will be expressed as part of the ```microseconds``` attribute.

The method ```total_seconds``` will convert this ```datetime.timedelta``` into a ```float``` instance:

In [140]:
duration3.total_seconds()

17280000.000005

The class attribute ```resolution``` returns the ```datetime.timedelta``` resolution which is always in microseconds:

In [141]:
duration1.resolution

datetime.timedelta(microseconds=1)

In [142]:
duration2.resolution

datetime.timedelta(microseconds=1)

The class attributes ```min``` and ```max``` give the minimum and maximum possible ```datetime.timedelta```. Notice these are negative and positive as time differences can be negative or positive:

In [143]:
duration3.min

datetime.timedelta(days=-999999999)

In [144]:
duration3.max

datetime.timedelta(days=999999999, seconds=86399, microseconds=999999)

Because each instance is based upon a ```float``` instance, most ```float``` numeric operations can be carried out:

In [145]:
duration1.total_seconds()

345600.0

In [146]:
duration2.total_seconds()

3600.125

In [147]:
duration3.total_seconds()

17280000.000005

Explicitly:

In [148]:
duration1.total_seconds() - duration2.total_seconds()

341999.875

In [149]:
duration3 = datetime.timedelta(0, 341999.875)

Or implicitly as:

In [150]:
duration3a = duration1 - duration2

In [151]:
variables(['duration1', 'duration2', 'duration3', 'duration3a'])

                    Type Size/Shape                    Value
Instance Name
duration1      timedelta                     4 days, 0:00:00
duration2      timedelta                      1:00:00.125000
duration3      timedelta             3 days, 22:59:59.875000
duration3a     timedelta             3 days, 22:59:59.875000

Some of the numeric operators such as ```*``` and ```/``` will only work between a ```datetime.timedelta``` instance and an ```int``` or ```float``` instance:

In [152]:
2.5 * duration1

datetime.timedelta(days=10)

In [153]:
duration1 / 3.5

datetime.timedelta(days=1, seconds=12342, microseconds=857143)

Others such as ```+``` and ```-``` work between two ```datetime.timedelta``` instances and in the case of ```+``` work between a ```datetime.timedelta``` and ```datetime.datetime``` or ```datetime.date``` instance as seen previously.

## TimeZone

The ```ZoneInfo``` class can be used to construct a timezone for example Universal Co-ordinated Time or from a geographic location:

In [154]:
utc = ZoneInfo('UTC')

In [155]:
london = ZoneInfo('Europe/London')

In [156]:
sydney = ZoneInfo('Australia/Sydney')

A ```datetime.datetime``` instance can be constructed with the UTC timezone:

In [157]:
datetime1c = datetime.datetime(2023, 9, 29, 10, 43, 35, 1, tzinfo=utc)

It has the timezone name of ```'UTC'```:

In [158]:
datetime1c.tzname()

'UTC'

In [159]:
variables(['datetime1c'])

                   Type Size/Shape                             Value
Instance Name
datetime1c     datetime             2023-09-29 10:43:35.000001+00:00

Each geographic location has a timezone. In London, there are two time zones. The following ```datetime.datetime``` instance uses a timezone called GMT which is identical to UTC and therefore has no UTC offset:

In [160]:
datetime4 = datetime.datetime(year=2024, month=3, day=31, hour=0, minute=30, tzinfo=london)

This date can be converted to another timezone using:

In [161]:
datetime4a = datetime4.astimezone(sydney)

In [162]:
variables(['datetime4', 'datetime4a'])

                   Type Size/Shape                      Value
Instance Name
datetime4      datetime             2024-03-31 00:30:00+00:00
datetime4a     datetime             2024-03-31 11:30:00+11:00

The clocks go forward on this date and a ```datetime.datetime``` after the clock change can be examined:

In [163]:
datetime5 = datetime.datetime(year=2024, month=3, day=31, hour=2, minute=30, tzinfo=london)

In [164]:
variables(['datetime4', 'datetime5'])

                   Type Size/Shape                      Value
Instance Name
datetime4      datetime             2024-03-31 00:30:00+00:00
datetime5      datetime             2024-03-31 02:30:00+01:00

The timezone information is the geographic location, there are two timezone names for this location and each timezone has a time offset from the internationally recognised reference UTC:

In [165]:
datetime4.tzinfo, datetime4.tzname(), datetime4.utcoffset()

(zoneinfo.ZoneInfo(key='Europe/London'), 'GMT', datetime.timedelta(0))

In [166]:
datetime5.tzinfo, datetime5.tzname(), datetime5.utcoffset()

(zoneinfo.ZoneInfo(key='Europe/London'),
 'BST',
 datetime.timedelta(seconds=3600))

On the day the clocks go forward, there is 1 hour that duplicates as the timezone changes, this is known as a fold. To distinguish between these two times, the ```fold``` has to be specified:

In [167]:
datetime6 = datetime.datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=london, fold=0)

In [168]:
datetime7 = datetime.datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=london, fold=1)

In [169]:
variables(['datetime6', 'datetime7'])

                   Type Size/Shape                      Value
Instance Name
datetime6      datetime             2024-03-31 01:30:00+00:00
datetime7      datetime             2024-03-31 01:30:00+01:00

Notice the change in the time zone name for these two duplicate times:

In [170]:
datetime6.tzinfo, datetime6.tzname(), datetime6.utcoffset()

(zoneinfo.ZoneInfo(key='Europe/London'), 'GMT', datetime.timedelta(0))

In [171]:
datetime7.tzinfo, datetime7.tzname(), datetime7.utcoffset()

(zoneinfo.ZoneInfo(key='Europe/London'),
 'BST',
 datetime.timedelta(seconds=3600))

The clocks change back in the winter:

In [172]:
datetime8 = datetime.datetime(year=2024, month=10, day=27, hour=1, minute=30, tzinfo=london)

In [173]:
datetime9 = datetime.datetime(year=2024, month=10, day=27, hour=2, minute=30, tzinfo=london)

There is no duplicate time when the clock goes back because an hour is missing.

In [174]:
variables(['datetime8', 'datetime9'])

                   Type Size/Shape                      Value
Instance Name
datetime8      datetime             2024-10-27 01:30:00+01:00
datetime9      datetime             2024-10-27 02:30:00+00:00

In [175]:
datetime8.tzinfo, datetime8.tzname(), datetime8.utcoffset()

(zoneinfo.ZoneInfo(key='Europe/London'),
 'BST',
 datetime.timedelta(seconds=3600))

In [176]:
datetime9.tzinfo, datetime9.tzname(), datetime9.utcoffset()

(zoneinfo.ZoneInfo(key='Europe/London'), 'GMT', datetime.timedelta(0))

Care should be taken when using ```datetime.datetime``` instances supplied with timezone information as the ```datetime.timedelta``` is timezone agnostic. The value ```datetime10``` is computed incorrectly and differs to the value ```datetime10a``` which is the correct value. The correct value is obtained by converting all instances to UTC, preforming the calculation and then casting back to the relevant timezone:

In [177]:
datetime10 = datetime6 + datetime.timedelta(hours=4)

In [178]:
datetime10a = (datetime6.astimezone(utc) + datetime.timedelta(hours=4)).astimezone(london)

In [179]:
variables(['datetime6', 'datetime10', 'datetime10a'])

                   Type Size/Shape                      Value
Instance Name
datetime6      datetime             2024-03-31 01:30:00+00:00
datetime10     datetime             2024-03-31 05:30:00+01:00
datetime10a    datetime             2024-03-31 06:30:00+01:00

## Broadcasting

All the examples above have produced scalars. A ```list``` of ```datetime.timedelta``` instances can be created using a list comprehension:

In [180]:
[datetime.timedelta(days=day) for day in range(10)]

[datetime.timedelta(0),
 datetime.timedelta(days=1),
 datetime.timedelta(days=2),
 datetime.timedelta(days=3),
 datetime.timedelta(days=4),
 datetime.timedelta(days=5),
 datetime.timedelta(days=6),
 datetime.timedelta(days=7),
 datetime.timedelta(days=8),
 datetime.timedelta(days=9)]

Recall that a ```datetime.timedelta``` added to a ```datetime.datetime``` instance returns another ```datetime.datetime``` instance. Another ```list``` comprehension can therefore be used to get a ```list``` of ```datetime.datetime``` instances:

In [181]:
[datetime1 + datetime.timedelta(days=day) for day in range(10)]

[datetime.datetime(2023, 9, 29, 10, 43, 35, 1),
 datetime.datetime(2023, 9, 30, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 1, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 2, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 3, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 4, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 5, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 6, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 7, 10, 43, 35, 1),
 datetime.datetime(2023, 10, 8, 10, 43, 35, 1)]

The syntaxing for broadcasting using Python standard libraries is a bit convoluted. Broadcasting of ```datetime``` and ```timedelta``` instances is typically implemented using an ```np.ndarray``` or ```pd.Series``` (which is based on the design of an ```nd.array```) and will be covered alter when the ```numpy``` and ```pandas``` libraries are discussed.

[Return to Python Tutorials](../readme.md)